[2020-01-05 19:20] #310 closed

[2020-01-05 19:24] #324 closed

[2020-01-05 19:25] whyboris commented on #324
Thank you @jamessspanggg for the fix 🤝

[2020-01-05 21:11] whyboris commented on #318
Thank you @ScottBWar for fixing this issue 🙇‍♂️ #328

[2020-01-05 21:11] #318 closed

[2020-01-05 21:48] whyboris opened #332 "Tags in tag tray persist when switching to another hub"
An unwanted bug 😅

1) open a hub with some tags
2) open the tag tray (see the tags)
3) switch to another hub (that has no tags) via the "recently opened" feature
4) see the same tags

Unsure if occurs in other scenarios. I suspect it's a simple fix -- just have to trace out where I forgot to reset the tags service 😅

[2020-01-06 02:30] whyboris commented on #330
🚧 WIP with #333

[2020-01-11 03:48] kevinseelbach opened #335 "Files with audio streams ordered before video streams do not detect resolution properly"
https://github.com/whyboris/Video-Hub-App/blob/97e3ebb368876b1c068e1d387210e95944ce8ac1/main-support.ts#L412

I noticed VHA was not detecting resolution for some of my files and did some digging to figure out why. The code in question notes that ffprobe has trouble with some MKV streams; the files I had problems with are actually h264 in mp4 container, not sure that changes much though.

I think y

[2020-01-11 22:58] whyboris commented on #335
Thank you so much for investigating and for sharing the code that may/could/will fix the problem 🙇

Feel free to open a PR; alternatively I'll add it sometime before I release 2.1.0 🎉

[2020-01-12 00:13] #330 closed

[2020-01-12 00:15] whyboris commented on #330
⚠️ The problem has been solved -- you _can_ delete files. But the view doesn't get automatically updated. It will take a bit of work to get the vied to update:
  - every item in the `finalArray` contains its own index, so the whole array needs to be reindexed
  - possibly notify users if an error occurred and the file was not deleted successfully 🤷‍♂

[2020-01-12 00:18] #332 closed

[2020-01-12 00:20] whyboris opened #336 "Adding tags to videos does not update tag tray if open"
The tags _do_ get added, but you have to _close_ and then _re-open_ the _tag tray_ to see the tags getting added (bug noted by @jamessspanggg 🤝 [here](https://github.com/whyboris/Video-Hub-App/pull/334#issuecomment-571115728)).

Not a massive bug, but would be great to fix if it's easy to fix 🌷

_To replicate_:
1. Open the details view (so you can add tags to videos)
2. Open the (manual) tag tray

[2020-01-13 13:38] kevinseelbach commented on #335
You’re welcome. I wasn’t sure if it is the best solution,  since not
knowing much about video formats, I’m not sure if there are some hidden
intricacies I might not be aware of.

On Sat, Jan 11, 2020 at 4:58 PM Boris <notifications@github.com> wrote:

--
----
Kevin V Seelbach
Mobile: +1 (281) 210-8727

[2020-01-13 15:04] whyboris commented on #335
@cal2195 -- would be great if you weighed in when you have a chance -- you know more about this piece of code / ffmpeg functionality than I do 🥇

[2020-01-13 15:18] cal2195 commented on #335
🕵 @kevinseelbach has the right idea, although I would change it slightly - I would iterate all steams available and look for the greatest width and height. I believe mkv files sometimes embeds the thumbnails too, which could be a lower resolution than the actual video. 👍  This may not work if there's some funny streams with large resolutions, but I think it should be a pretty good option.

They ca

[2020-01-13 15:38] cal2195 commented on #335
Ah ha! Past-me already figured this out, but didn't do it for `ffprobe`! 😂 See #128 🎉

We just need to add the parameter `-select_streams V` to the `ffprobe` command above, which will only return streams that a video, not cover art, thumbnails etc... 😄 Then just select the first one, or largest resolution!

[2020-01-13 15:39] cal2195 commented on #335
@kevinseelbach If you get a chance, could you try that, and see if it fixes your issue? 😄

[2020-01-15 00:40] kevinseelbach commented on #335
@cal2195 I'm reviewing now, I looked back at #128 and #103 though and I don't think that was the exact same issue - in my case, thumbnails were visible, but the resolution was marked as SD for videos that have audio in the first stream.

That said, your proposed change sounds like an ideal fix - the `-select_streams V` change. I'll play with it locally and check back here or make a PR if all goes

[2020-01-15 01:38] kevinseelbach commented on #335
Sorry about the double PR, I pushed the first one as the wrong git author (work).

[2020-01-18 17:40] whyboris opened #339 "2.1.0 Release"
I would like to release 2.1.0 as it patches an important bug:
- 2.0.0 sometimes fails to extract screenshots for some videos on some computers
   - ✅ already fixed in `master`

Finished:
- [x] Merge #338 (improve resolution detection)
- [x] Fuzzy search #311
- [x] Grey out "delete" in right-click menu when root folder not present
- [x] Offer a _portable_ version of VHA

👂 I'm happy to hear more su

[2020-01-18 18:44] whyboris commented on #335
Thank you @kevinseelbach for the #338 PR -- it successfully closes this issue 🙇‍♂️

[2020-01-18 18:44] #335 closed

[2020-01-18 20:15] whyboris commented on #311
Decided to go with [Fuse.js](https://github.com/krisk/Fuse) 🎉

#340 will be released with public version 2.1.0 😁

[2020-01-19 03:49] whyboris opened #341 "Face detection"
It seems like it may be relatively simple to perform face detection (placing a bounding box across any face found in an image). This process may be super fast: apparently faster than realtime for video (which means stupid-fast for a few screenshots).

It may be simple enough to simply detect any faces within a filmstrip and extract them into a new faces array which can be viewed separately somehow

[2020-01-19 16:58] #311 closed

[2020-01-21 02:39] whyboris commented on #341
Update:
- Tried _picojs_ and it's not a good fit: it has many false-positives (e.g. finds faces in elbows)
- Tried _face-api_ and I'm really liking it. Assuming including _TensorFlow_ and other sub-dependencies isn't going to make the app too heavy, I just might include it. We'll see 🤷‍♂

I have a script that seems to generate an image strip with faces found in all the extracted screenshots. I'm t

[2020-01-21 11:19] cal2195 commented on #341
Well this sounds very exciting! 😄

Two thoughts about what you could do with the data:

- If you can find the same face in multiple videos, this would be a very cool improvement to the similar video recommendations (Right click -> Show more videos with this actor)

- Secondly, I see you can also detect expressions - this would be a very cool tag to add, if the user enabled it. (eg. tag videos with

[2020-01-23 18:47] whyboris commented on #341
I have a repository for the internal functionality: https://github.com/whyboris/extract-faces-node

You can take any thumbnail strip from your library and run through the library.

One caveat is you have to set the number of screenshots there are in the filmstrip inside the script:
https://github.com/whyboris/extract-faces-node/blob/master/src/pipeline.ts#L8

🚀 I'll get a branch of _VHA_ ready to

[2020-01-24 21:57] whyboris commented on #341
Currently running into trouble when trying to install `canvas` 😓  -- so far no-go ...
Electron post-install script errors out not being able to find a pre-built binary(?)

[2020-01-24 23:15] whyboris commented on #341
Problem solved 🎉 😂 https://github.com/whyboris/extract-faces-node/pull/1 -- was able to remove `canvas` 😁
Attempting again with VHA 🤞

[2020-01-24 23:56] whyboris commented on #341
Seems to work well 😎 #342
App compiles to 125MB 👌
Finds and extracts faces while in _dev_ but not yet from the built app -- I'll investigate 🔍 😁 🔎

[2020-01-25 11:55] frez777 commented on #317
I can confirm this issue.

I tried many "solutions" for this issue around the internet, but none seems to work for me

[2020-01-25 12:01] frez777 commented on #341
Pretty cool idea!

Well, even the idea of adding an actor section itself is very useful and nice feature.

[2020-01-25 12:06] frez777 commented on #339
To me an actor section would be awesome, in my perspective it could be as simple as letting the user define an actor name, actor image and to associate videos to this actor

[2020-01-25 13:17] whyboris commented on #339
Thank you for the request! Now that I'm working on automatic face detection, (something like) this will likely by the next large feature 🎉

Though not in version `2.1.0`, which I want to create and release in the next few days 🚢

[2020-01-25 13:50] whyboris commented on #341
@frez777 -- btw -- have you clicked on the "Auto Tags"? It will automatically find all the 2-word strings that appear in your files (generally actor names if they appear in the file names).

I'll likely expand this feature more -- thank you for the request 👍

[2020-01-25 14:10] whyboris commented on #341
`help wanted` : if you have experience and time, could you see how to get the _built_ application to extract images?

Branch `face-detection` (see PR: https://github.com/whyboris/Video-Hub-App/pull/342) -- when `npm start` the app extracts faces 👍 but when `npm run electron:windows` the app doesn't extract faces 👎

[2020-01-25 16:05] whyboris commented on #341
Things I've tried:
- [x] Make sure the _Node_ is the same version as what _Electron_ uses ✅ -- seems like it may be required for `rebuilding native dependencies` step

[2020-01-25 16:11] whyboris commented on #341
🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉  PROBLEM SOLVED 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

Turns out the `weights` folder needs to be copied correctly once the app installs (e.g. inside `Program Files/Video Hub App 2/...` 👍

I should have a build-able branch ready later today (see #342)

[2020-01-26 00:27] whyboris opened #343 "Ctrl + W closes app without saving tags"
Seems like maybe `preventDefault()` / `stopPropagation()` stopped working?

https://github.com/whyboris/Video-Hub-App/blob/master/src/app/components/home.component.ts#L378

Steps to reproduce **bug**:
1. Add a manual tag
2. On keyboard hold `CTRL` and tap `w`
3. App will close
4. Reopen the app and see the tag was not saved 😲

Regular behavior we want:
1. Add a manual tag
2. Close the app by click

[2020-01-27 15:57] whyboris commented on #341
Current intention for the future features, not all will be in #342:

1. is to extract every face for every filmstrip and store it in a new folder (with the same file name as the hash as the file).
2. add a 'faces' view that will simply show a filmstrip with all the faces found
3. create another '_auto-generated tag_' view that shows only the two-word tags (hopefully mostly names), but next to each

[2020-01-27 21:25] whyboris opened #344 "Update view when video was deleted"
Currently right-click and `delete` will move the video to the recycling bin, but will not update the gallery -- the video will look like it is still there.

Desired outcome:
Remove video from gallery

⚠️ Caveat
Simply removing element from array will cause the `index` property to be out of whack - so we'll need to re-index the whole array 👌

[2020-01-27 22:14] #339 closed

[2020-01-27 22:14] #343 closed

[2020-01-28 01:39] danjool opened #348 "Show full thumbnail for single parent folders"
![solo-thumb-folder](https://user-images.githubusercontent.com/10146364/73228385-a6745200-4133-11ea-8dfc-100c26495de2.png)

It seems more natural to me that if folder only has one media item, then why not show the whole thumbnail?

I have this implemented locally already, but either github is being ornery or there is some kind of push access required.  Also I could see where this would be a View S

[2020-01-28 09:18] cal2195 commented on #348
Hi @danjool,

To make a pull request, fork this repo, push your changes to your forked repo and then create a pull request from there! 🙂

[2020-01-28 10:57] cal2195 commented on #344
Side-thought: Is there a reason we need an `index`? Couldn't we just index them by their hash?
This would save on all this recalculation. 💡

I know the default sort is by index, but this is the same as sorting by full file path...?
🤔 💭

[2020-01-28 14:13] whyboris commented on #344
I don't mean to insist on the indexing -- that's just something I implemented before we had the hashes.

I may be misunderstanding the idea you have -- please elaborate if what I write below is off-topic.

The hashes are _not_ unique though -- as there may be two (likely) identical files in a hub with the same hash.  It may matter which of the two (likely) identical files are played -- since one m

[2020-01-28 14:26] cal2195 commented on #344
Good point about the hash uniqueness - that may be a point that needs to be addressed regardless. 🤔

Haha, and I'm not suggesting we do this *right now*, I just like to think about what future-Boris and future-Cal will be glad we did for easier maintaining and adding features in the future! 😄

[2020-01-28 22:48] danjool commented on #348
Thanks for the heads up!
https://github.com/whyboris/Video-Hub-App/pull/350

[2020-01-28 23:12] danjool opened #352 "Folder flattening"
Potentially valuable to seem to streamline some of their media library flattening the contents of a chosen folder -- moving all the media contents of that target folder's subfolders to the target folder.

https://github.com/whyboris/Video-Hub-App/pull/351
(ONLY TESTED IN WIN10)
Demonstrates this by adding a right click context menu to the folder, replicating the context menu for media files but on

[2020-01-29 02:27] whyboris commented on #352
Thank you for the discussion and for the PR #351 🙌

I'll give the code you propose a try and see how it feels. I agree with you that VHA restructuring all the folders would be an "over reach".

I'm unsure yet about the functionality: I do like that VHA provides a faithful representation of what the folder structure is, but this flattening is definitely useful in some situations. My immediate conce

[2020-01-29 04:50] danjool commented on #352
My expectation would be that if I

1. Flatten contents out of some subfolders

[2020-01-29 10:44] cal2195 commented on #352
Just leaving my thoughts here: 😄

I appreciate the work here, although I'm not sure it fits within VHA - this seems more like an idea for a script, eg.
[code]

Even deleting files in VHA only moves them to the trash - there's a lot of headache dealing with filesystem errors that'd I'd rather not deal with! 😓 Like, what happens if two files are now the same name, trying to move to the same folder..

[2020-01-29 10:46] cal2195 commented on #352
(Btw, +1 for having screenshots for all the features you implement! 👍 )

[2020-01-29 14:10] whyboris commented on #352
Quick comment: when you're _not_ in folder view, everything is already 'flattened'. And if you search for the folder name you want to 'flatten' -- the gallery will show everything 'flattened'. So we might not need to have any extra functionality?

[2020-01-29 14:14] cal2195 commented on #352
This is true, but I wouldn't say no to a right click menu item to do it for me! 😊 Also, it would need to only show this folder, not folders by the same name elsewhere!👍

[2020-01-30 00:11] danjool commented on #352
Here's my counter use case:  A user has a bunch of video files scattered across a chaotic, sometimes deep folder structure.  They want to do something to those some of those videos other than opening them one at a time, eg queue them up from handbrake processing.  So the user has three things to do:  Determine which files need processing, get a list of paths, and process them.

VHA already handles

[2020-01-30 16:24] whyboris commented on #352
Thank you for the comment 👍

I added "delete file" somewhat reluctantly, but I see how useful it is (at least when searching for duplicates). I made sure to put the feature behind a toggle, so it's not there unless a user explicitly wants it _and_ toggles it.

I could see VHA taking on more roles; perhaps similarly hidden behind toggles so you can't accidentally move files around the file system.

[2020-01-31 03:27] whyboris commented on #352
@danjool -- you say this:

It sounds like that functionality may get you what you want without flattening a folder. What if you can grab the list of paths all the currently-showing videos (as a bonus: in whatever order they are showing) and save it to clipboard?

I've only imagined this app as being used for randomly clicking around a collection of videos, that I don't realize there may be many ot

[2020-01-31 03:30] whyboris commented on #341
# CONTINUED DISCUSSION OF THIS FEATURE HERE: #342

[2020-02-01 16:02] whyboris opened #353 "Error extracting screenshots (reduce empty array with no initial value)"
The new code added in #338 causes a bug (should be easy to fix)

Results in:

![image](https://user-images.githubusercontent.com/17264277/73595048-12630b80-44e2-11ea-89ea-da2cf03924c8.png)

Happens here:
https://github.com/whyboris/Video-Hub-App/blob/master/main-support.ts#L393

@kevinseelbach

[2020-02-02 18:57] danjool commented on #352
Q:  Would a simple export of the paths to all the visible videos be good enough without adding the flattening feature?

Not really?  The list of paths was just a way of picturing the intermediate goal, where the ultimate goal is the bulk use of VHA's organization by another application.  I can think of many formats that VHA could export to, but there aren't any universal formats for importing -- I

[2020-02-05 12:41] kevinseelbach commented on #353
@whyboris sorry about that , i think this will fix it
https://github.com/whyboris/Video-Hub-App/pull/354

[2020-02-05 14:23] whyboris commented on #353
No worries at all! I should have caught it -- I'm just unfamiliar with how reliable the _ffmpeg_ output is when it comes to identifying streams.

As far as I can tell this happens in exceedingly rare cases -- I only had 2 bug reports occur and it hasn't happened to me 🤷‍♂

No rush -- and do let me know if you prefer I fix it -- seems like just setting an initial value in the `.reduce` will fix the

[2020-02-08 07:44] lemiesz commented on #344
which view does this happen in?

[2020-02-08 15:12] whyboris commented on #344
Every view -- currently when you right-click and "Delete file", the file moves to the recycling bin, but the view continues to show the video in the gallery.

[2020-02-08 23:47] kevinseelbach commented on #353
I think it would only happen on files that do not have any streams. I pushed some commits that should fix the issue? Just wrap it in a try/catch
 @whyboris
https://github.com/kevinseelbach/Video-Hub-App/commit/11f24005c77cf23fb14746ddfc2bcfee9bdfc83d

[2020-02-09 02:39] whyboris commented on #353
Sorry I've not gotten back to VHA this week -- had been busy with my 3 other projects 😅
- https://github.com/whyboris/Simplest-File-Renamer
- https://github.com/whyboris/JSON-i18n-Editor
- https://github.com/whyboris/Health-Impact-Fund
I'll try to merge in your change tomorrow (just want to test it for a second before merging).

[2020-02-09 09:22] mmega opened #355 "thumbnails, tags"
thumbnails view - compact view
Sometimes can't see all thumbnails
Scroll down all see
![20200209_173024](https://user-images.githubusercontent.com/57275671/74099219-906b8600-4b64-11ea-962c-bacc20d3f917.jpg)

details view - show manual tags
Times played 0 all visible, Times played 1 not all visible
![20200209_173929](https://user-images.githubusercontent.com/57275671/74099221-906b8600-4b64-11ea-8c2

[2020-02-10 01:06] whyboris commented on #353
Closed with #354 👍
Thank you @kevinseelbach 🤝

[2020-02-10 01:15] whyboris commented on #355
Thank you for opening this issue. I hope I can understand what the issue is; it seems like you're reporting 2 bugs?

1) In the first screenshot you do not see all thumbnails showing
    - (even though the view has more of them -- I can see the scrollbar size indicates there are more)
    - I suspect once you start scrolling they all show up, is that correct?
    - The issue is _not_ about the scre

[2020-02-10 03:40] kevinseelbach commented on #353
Don't thank me too soon @whyboris

A file without metadata.streams will still throw an error at the next line after `getBestStream` is called:

[code]

Wouldn't it be ideal to wrap the entire `extractMetadataForThisONEFile` call in a try/catch somewhere so you don't have to worry about a single bad file crashing the entire app and extraction process? So far, I've needed to quit the app when errors

[2020-02-10 05:25] mmega commented on #355
First of all, I'm using this software very well.
I'm sorry i didn't have enough explanation. All thumbnails are normal. I covered it with a black box.
I couldn't show all the thumbnails and letters.
I'll reattach it and explain it.

1. Sometimes [thumbnails view-compact view] doesn't see all the thumbnails, so I wanted to let you know.
Attached a gif. 4.51mb
![20200210_133415](https://user-images.

[2020-02-11 05:36] lemiesz commented on #344
I do not see Delete File in any view. Am I setting up something wrong?

[2020-02-11 15:54] whyboris commented on #344
Under _settings_, scroll down to "Various settings" (in 3rd tab -- the one that shows when you open settings) and click "Show 'Delete' option in the right-click menu".

Sorry I don't have any documentation about what features exist and where to find them. The settings menu has a lot of toggles and I hope everyone who uses the app looks at all the options at least once 😅

[2020-02-11 23:37] whyboris commented on #348
Thank you @danjool for the improvement -- I think it looks much better!

Sorry took 2 weeks for me to get to merge in your change 🙇

Closes #350

[2020-02-11 23:37] #348 closed

[2020-02-12 00:27] whyboris commented on #353
@kevinseelbach I may have a solution with #357 😅

I'm uneasy at this time about wrapping the whole `extractMetadataForThisONEFile` because I'm unsure how the app will behave with nothing returned ... I think with this we squashed the last possible bug in this method 🤞

[2020-02-12 00:34] whyboris commented on #295
I had a user tell me that out of 85 videos, on first scan 80 screenshots were extracted, on 2nd scan more got extracted, but only by 4th scan all 85 were extracted. This was _after_ we emailed back and forth and I requested he not use the computer while extractions happen (best scenario).

Originally, the same user said as many as 40% of his videos never got their screenshots extracted 😰

I _reall

[2020-02-12 00:39] whyboris commented on #290
This issue _may_ have been resolved earlier, but with version 2.1.0 it should finally be gone:

https://github.com/whyboris/Video-Hub-App/pull/345/commits/edc63eb96e7f02651160eed48a45b6189ba13450

Because I'm using _Electron_, at least in version 2.0.0 it automatically responded to `CTRL` + `W` / `Command` + `W` - closing the app without triggering the pre-shut-down-logic I implemented to save set

[2020-02-12 00:39] #290 closed

[2020-02-12 13:52] whyboris opened #358 "Playlist from current view"
I think creating a playlist is relatively straight-forward from the coding perspective -- just generate a `.pls` file filling it with syntax like this:

[code]

Seems easy-enough, may as well do it 🤷‍♂

[2020-02-12 22:10] kevinseelbach commented on #353
That looks good!

Unrelated, but why the file scanning process (for example rescan) is sync and not async? Im guessing there is very good reason just trying to understand why

[2020-02-12 22:25] whyboris commented on #353
There isn't a particularly good reason why the process is _sync_ instead of _async_.

When the scan is happening I wanted to lock up the app so no state could change. It would require some care to not let users mess around with things while the extraction process is happening, so I took a shortcut: just disallow any interaction.

It _would_ be good to let users at least minimize the app 😅 I think

[2020-02-12 23:33] whyboris opened #359 "Auto-complete on "tags include" search do not disappear on "Enter" key"
Should be super-simple to fix. Adding issue to not forget.

To replicate:
1. Make sure at least 1 manual tag exists on some video
2. In search bar (on left) start typing in the tag name in the "tags include" search
3. See the auto-complete appear
4. Press "Enter" key
5. Notice the auto-complete is still present

[2020-02-12 23:48] whyboris commented on #358
Major challenge:

Either I would need to:
a. Disable playlist creation feature when folders are showing
b. Create playlists that exclude contents of folders (when folders are showing)
c. Create playlists that include contents of folders (when folders are showing), but resulting playlist will not be in the order the videos are shown (not good)
d. Rewrite a bunch of stuff (and I don't want to)

Opti

[2020-02-13 00:58] #358 closed

[2020-02-13 01:38] kevinseelbach commented on #353
Makes sense! On Mac at least you can definitely minimize or change apps, fyi, just can’t navigate or do anything within the app until scanning is complete

Sent from my iPhone

[2020-02-13 20:05] #353 closed

[2020-02-13 20:14] whyboris commented on #355
Thank you very much for the images!

I think I understand both issues correctly now. I'll see if I can fix them by the next release 🙂

[2020-02-13 20:17] whyboris commented on #292
@kdkavanagh -- please let me know if I can close the issue -- if it happened just once, or it's been occurring again.

I've not added any code to fix whatever caused the issue -- I basically never use Linux so it's a bit more rough-around-the-edges than Mac & Windows versions 😅

I've not had anyone report this bug, so perhaps it's a fluke 🤞

[2020-02-13 23:20] whyboris commented on #355
I fixed issue (2) with #362 I think -- will be released along in the next release 👍
I'll see about (1) too sometime 🤝

[2020-02-13 23:27] whyboris commented on #359
Closed with #362 🎉

[2020-02-13 23:27] #359 closed

[2020-02-14 00:39] whyboris commented on #295
#363 will close the issue by doing the following:

The first scan is not changed, but the re-scanning ("Add missing thumbnails") will do this:
- Allow for 50% more time per screenshot (if needed)
- Randomize the order of extracting screenshots (so as not to get stuck on any corrupt files 'every time')

[2020-02-14 00:40] whyboris commented on #295
Please feel free to create a new issue if needed (so it's higher on the list of issues) rather than continue this one -- just refer to this one if needed 🙇

[2020-02-14 00:40] #295 closed

[2020-02-15 16:25] kdkavanagh commented on #292
Hasnt happened since, since once the directory is created, everything works.  I'd guess I'd say just make sure that the thumbs directory exists before trying to write to it

[2020-02-16 04:02] whyboris commented on #344
I have an idea of how to do this without interfering too much with the current code -- I'll likely code it up on Sunday 👍

[2020-02-16 04:05] whyboris commented on #292
Seems like this line _should_ do the work 🤷‍♂

https://github.com/whyboris/Video-Hub-App/blob/master/main.ts#L695

`fs.mkdirSync(path.join(outDir, 'vha-' + options.hubName + '/thumbnails'));`

I'm closing for now. If anyone encounters the problem again, please open up a new issue and reference this one 🙇

[2020-02-16 04:05] #292 closed

[2020-02-16 18:27] whyboris commented on #344
Was an easy fix with #364 -- and it makes the UX (user experience) so much better 😂

[2020-02-16 18:29] #344 closed

[2020-02-16 18:30] whyboris commented on #344
The fix was easy:
1) add `deleted` property (boolean) to an element
2) add a _pipe_ that filters out any elements that have `deleted` property
3) strip out any `deleted` elements before saving .vha2 file 👌

[2020-02-16 19:13] whyboris opened #365 "Backlog 2.X.X"
Miscellaneous stuff that could be done someday:

### Not Done
- [ ] Run `lint:scss` again 😓 (also see #196)
- [ ] Migrate to `eslint` (since `tslint` will be [deprecated soon](https://github.com/palantir/tslint#tslint))
    - probably just copy this: https://github.com/maximegris/angular-electron/pull/410
- [x] Add setting: _Folder view_ show _random_ screenshots rather than first 4.
   - I don't

[2020-02-16 19:14] whyboris commented on #284
Closing; all unfinished moved to #284

[2020-02-16 19:14] #284 closed

[2020-02-21 13:21] cal2195 opened #368 "Sorting by Date Modified in Folder View Doesn't Work"
Sorting by `Date Modified` in `Folder View` used to work, but it no longer does.

Ideally this should sort by the folders by the latest video in each folder. 🐞

[2020-02-21 13:30] cal2195 opened #369 "Current Scanning Method `Stats` All Files, Not Just Videos"
I know we redesigned this at one point, but I think I'll look into a more efficient way.

The current method works great for folders of **just** videos, but crawls to a snail 🐌 when there's as many `.tag` files and `.jpg` files etc. inside the folder hierarchy too. 🙇

This is a waste of hard drive bandwidth as we then proceed to filter them out in app.

I'll look into a better solution for this. 😄

[2020-02-21 18:15] whyboris commented on #369
Thank you for catching this!

I only tested folders with a few varied files and with large folders containing only videos, never with large folders with many various files 😅

[2020-02-21 18:20] whyboris commented on #368
Interesting 🤔 -- I don't remember messing with anything that should affect things ...
Last PRs that touched the `sorting.pipe.ts`: #367 & #363 (4 & 8 days ago)
Any idea when the issue started?

[2020-02-21 18:32] whyboris commented on #368
😅  I'm unsure if it ever was able to sort by date 🤔
https://github.com/whyboris/Video-Hub-App/blob/master/src/app/pipes/folder-view.pipe.ts#L21

I think this is where things would happen, and we manually, explicitly, have to track things. Currently all we track is:
 - totalFileSize
 - totalDuration
 - starAverage
 - totalStars

[2020-02-21 21:19] whyboris commented on #178
I had another user email me with a request to import tags attached to files that can be seen in the OS.

Seems like this might do the trick:
https://www.npmjs.com/package/exif-parser
Found here:
https://stackoverflow.com/questions/26091836/is-there-a-way-to-read-file-metadata-using-node-js

I'll test it out this weekend and see if it works 🤷‍♂

[2020-02-21 21:20] whyboris commented on #316
I'll try something this weekend: https://github.com/whyboris/Video-Hub-App/issues/178#issuecomment-589839418

[2020-02-21 23:21] whyboris commented on #316
PR for automatically importing os-native tags on a Mac: #370 😁

[2020-02-21 23:28] whyboris commented on #316
As a bonus, thanks to `osx-tag` https://github.com/keichi/osx-tag -- we can save all the tags to OS-X 👍

I can't find anything for _Windows_ yet 🤷‍♂ 🙆‍♂ 👌

[2020-02-21 23:50] whyboris commented on #316
⚠️ this dependency can't be installed on _Windows_ and I would have to maintain a `mac` branch in order for this feature to exist. This isn't a problem, but I think this may be a mac-only feature for a while.

[2020-02-21 23:50] whyboris commented on #178
⚠️ this dependency can't be installed on _Windows_ and I would have to maintain a `mac` branch in order for this feature to exist. This isn't a problem, but I think this may be a mac-only feature for a while.

[2020-02-23 05:33] mmega opened #372 "Search in a manual tag"
Capitalization is required when entering manual tags.
![캡처](https://user-images.githubusercontent.com/57275671/75104131-a8ed9d00-5648-11ea-9232-17ee1baa0b8c.JPG)
![캡처2](https://user-images.githubusercontent.com/57275671/75104132-a9863380-5648-11ea-9fde-27365ff1be88.JPG)
![캡처3](https://user-images.githubusercontent.com/57275671/75104133-aa1eca00-5648-11ea-80f5-c1e6cd9427b3.JPG)

Can search for it b

[2020-02-25 03:15] whyboris commented on #372
Great idea! Let's do `.toLowerCase()` on both search and each string when matching 👍

[2020-02-25 15:56] cal2195 opened #373 "Automatic Importing with `inotify`"
🎉 Feature Request! 🎉

More of a personal requirement, but I could see it useful for others too:

I'm running VHA in a docker container, and it would be awesome if it used `inotify` to watch all the video folders, and automatically imported new videos after an `IN_CLOSE_WRITE` event! 💡

This would prevent the need for me to rescan the entire directory of videos when adding a single video, and also

[2020-02-25 15:57] cal2195 commented on #368
I believe this did work, before you rewrote my code with a clearer, better version! 🚀

It's a valuable feature worth implementing! 😄

[2020-02-25 17:33] whyboris commented on #368
That makes sense 👍
This feature should be easy to add (simply tracking the latest timestamp and putting it as a property on a folder). I'll code it up sometime this week 😁

Cheers 🤝

[2020-02-25 17:36] whyboris commented on #373
Thanks Cal!
Seems like a simple "watch folder" button would do the trick on the UI front.
Main question to think about is if it should be a per-hub setting or a app-wide 🤔
I'm unsure how to answer this question -- perhaps you have an intuition about which is better for users 🤷‍♂

[2020-02-25 17:43] whyboris commented on #373
Also it seems like `inotify` is a _Linux_-specific thing.
There's surely a way to do it on Windows and Mac too (other apps have features like that) -- I hope it doesn't require re-scanning the whole directory (imagine a hub pointing at a full hard drive) 🤔

Currently initial part of the scan locks up the UI with a green progress bar ...

The feature you describe sounds like it's related for your l

[2020-02-26 23:01] #368 closed

[2020-02-26 23:24] whyboris commented on #369
I'm pretty sure this is the _gist_ that I used when starting _VHA_ (and the code hasn't changed much). I see there are some interesting comments there:

https://gist.github.com/kethinov/6658166#gistcomment-2692596
- uses `yield`

https://gist.github.com/kethinov/6658166#gistcomment-2936675
- uses a _functional programming_ approach

https://gist.github.com/kethinov/6658166#gistcomment-2733303
- `a

[2020-02-26 23:39] whyboris opened #375 "When folder play time is short, app shows "min min""
When in folder view and a folder's total play time is short, the time has an extra "min", for example "5 min min" rather than "5 min". When play time is several hours or days, the play time is shown correctly.

It's all because of the over-burdened [length.pipe](https://github.com/whyboris/Video-Hub-App/blob/master/src/app/pipes/length.pipe.ts) 😓 it's trying to do too much and has this bug

Summon

[2020-02-27 00:10] #372 closed

[2020-02-27 00:11] whyboris commented on #372
@mmega -- thank you again for recommending this improvement -- I fixed it with #376 😁

[2020-02-27 00:18] whyboris commented on #312
@mcpalmer1980 -- I'm thinking about closing this issue. Please comment if you think it should stay open for some reason 👍

[2020-02-27 06:25] whyboris commented on #375
Fixed with #377 😎

[2020-02-27 11:00] cal2195 commented on #373
This is available on other systems, node.js even has a built in function for this:
https://nodejs.org/docs/latest/api/fs.html#fs_fs_watch_filename_options_listener

But I don't think this will be suitable for my purposes, but I can test it now - I need to know when a file is closed for writing, to avoid importing a copied file before it's finished copying! 💡

This is related to #161 - As I have it

[2020-02-27 11:32] cal2195 commented on #373
Some thoughts:

As expected, `fs.watch()` doesn't tell you anything about the event, just that something happened to the file. Also, adding `inotify` as a dependency will through an error on other platforms. 😢

Two options:

1. Implement each platform independently, using they're respective native way.

2. Use `fs.watch()` combined with something else. For things like `rsync` (my usecase), it woul

[2020-02-27 12:32] cal2195 commented on #369
Looking at this again, this may be a non-issue - looks like you need to stat everything anyway to find out if it's a directory or not. 😢

But, it would be nice if the whole thing was async!! 🎉

[2020-02-27 14:30] cal2195 commented on #373
More developments:

Currently looking at https://www.npmjs.com/package/chokidar and it looks pretty sweet! 🎉

Multi-platform, and has some nifty features that could even help with #369 💡

Along with allowing file change events, it also stats the files to work out better events, which can be returned for your own use (scanning the hdd), and it also can output all files as it initially scans the har

[2020-02-27 15:02] cal2195 commented on #373
My thought would be:

1. Create new hub.

2. Kick off chokidar, which scans the video folder, outputting files async, along with adding file watchers.

3. As files come in, begin importing them in the background and update the final array (seems like the app is quite happy with updating the final array on the fly).

4. Once scan is complete, new files get treated just the same way, import and upda

[2020-02-27 15:45] cal2195 commented on #373
It even has `awaitWriteFinish`! 🎉 🎉

[2020-02-27 21:51] #375 closed

[2020-02-28 03:52] #336 closed

[2020-02-28 05:44] whyboris commented on #307
Thank you @cal2195 for the `\b` suggestion -- I should have been doing it all along 😅

#380 will close this 🤝

[2020-02-28 06:11] whyboris commented on #365
I'm thinking of creating a release for `2.2.0` within the next 5-ish days 🎉

I think 2 more issues would be good to address before then (I'll fix these; comments welcome):
- Update the colors on the manually-added tags in the details view
    - they are currently blue, even though in the tag tray they show up as yellow 😕
- Word cloud shows manually-added tags, but when you click on them, the strin

[2020-02-28 09:20] cal2195 commented on #373
I have a plan of how this can work, and using what I've learned from coding image-viewer! 😄 I've started working on it, and I'll post a review as soon as I have something working! 📝

[2020-03-01 15:49] cal2195 commented on #373
Current update:

- Importing new videos on open working, along with new videos appearing while the app is running.

- Manual thumbnail generation working.

- Moved quite a few more methods to be async with Promises (much improving the responsiveness of the app).

My current plan is, if this feature is enabled, new videos will be imported and thumbs generated automatically in the background. Remove

[2020-03-01 17:34] cal2195 commented on #373
- Automatic thumbnail extraction working!

- Parallel fs requests! (Checking 8 files at a time)

- Resume scanning/extraction on reopen!

- Using new scanning method for new hubs working!

🚀

[2020-03-02 15:03] whyboris commented on #373
Exciting! I think this is your code so far:
https://github.com/whyboris/Video-Hub-App/compare/master...cal2195:file-watch

I'm unsure if running video extraction in parallel is a good idea. I suspect most people are still using mechanical hard drives and random access is slow (making the needle jump between 8 files isn't great I think), and the processor might not be able to handle 8 videos in par

[2020-03-02 15:15] cal2195 commented on #373
You're correct at the end there - I'm only talking about metadata requests. 😄 I'm running multiple mechanical drives here, and most of the CPU time is taken with `iowait`, so multiple requests could make sense.

Luckily, it's a single parameter! 🎉  So we can test out which gives the most videos-per-second, and even make it user configurable!

Thumbnail extraction is still sequential, but could als

[2020-03-02 18:05] cal2195 opened #381 "Improve File Hashing by Including `stats.blocks`"
I was thinking about the file hashing, and detecting file changes and I realised we should really be using `stats.blocks`(The number of blocks actually allocated for a file) in our hashing calculation... 🤔

As we don't hash the entire file for performance reasons, files downloaded in chunks can be missed by the app as changes, as their file size doesn't account for file sparseness! 🔥

A fix for th

[2020-03-03 14:24] whyboris opened #382 "Scroll back to original location when clicking 'UP' inside folder"
1. When in _Folder View_ scroll down some distance,
2. open a folder,
3. click the `up` button
4. notice that the app resets the scroll to the top of the page

It would be nice if it went back to roughly where you were before clicking on the folder.

This feature was requested by a user. Seems useful when navigating using folders.

Feels like it may be easy to implement:
- for simplicity the featu

[2020-03-03 14:30] cal2195 commented on #382
Alternative solution to apply to any number of nested folders:

- Scroll to the `imageElement` representing the folder containing the first (or any) video you just came up from.

[2020-03-03 14:35] cal2195 commented on #382
See [here in image-viewer](https://github.com/cal2195/image-viewer/blob/master/src/app/components/home/home.component.ts#L156-L160) for an example.

That method allows you to move up one folder, showing more images, but scrolls back to the top right image you were looking at. 😄

[2020-03-03 21:40] #307 closed

[2020-03-03 22:59] whyboris commented on #382
I discovered a bug in _ngx-virtual-scroller_ 😅
The `scrollToPosition` does not accept `0` ms 😓
I'll try to fix it 😁
https://github.com/rintoj/ngx-virtual-scroller/issues/420

[2020-03-03 23:53] whyboris commented on #365
I'm updating the _colors_ with #384 but don't feel like fixing the word-cloud bug; will leave that for later 🤷‍♂ (no one has ever emailed me about it, so it's probably a bug rarely encountered, and I'd rather release the next version of the app 👍 ).

[2020-03-04 02:48] #382 closed

[2020-03-04 02:50] whyboris commented on #382
Thank you @cal2195 for the code reference 🤝 -- it was helpful 😁
I ended up using pixel offset because that maintained the scroll position more-exactly 👌

[2020-03-04 10:30] cal2195 commented on #382
Does this only work for a single folder level? 🤔

[2020-03-04 13:45] whyboris commented on #382
Yeah -- it's a really rough implementation only aiming to handle the _root_ level 😅

There is also breadcrumb navigation, so to handle all cases I'd have to keep track of depth (since `up` is not the only way to navigate).

Also I didn't add a reset when switching hubs, so it will navigate incorrectly the first time after using the folder navigation in one hub and switching to another if the user

[2020-03-05 17:17] whyboris opened #385 "Closing the app through mac menu or windows taskbar does not save settings"
Turns out on a _Mac_ if you click `Video Hub App 2` and click `Quit`, the app will not save the settings or any previously-added tags/stars/etc 😱

Similarly on _Windows_ if you right-click in the taskbar and click `Close window` the settings edits / new metadata will not be saved 😢

I hope somewhere in _Electron_ there is a way to hook into something and run a script before close 😕

[2020-03-10 21:11] LordJon commented on #365
Aah is that why the word-cloud tags gives no results sometimes. I assumed it was somerthing in my settings but haven't looked into it yet so I now avoid using the feature hahaha.

[2020-03-10 22:43] whyboris opened #386 "Let users see clip thumbnail same as regular thumbnail"
Currently the preview thumbnail for the clips is different than that for the main gallery preview. This was done on purpose, but I could see how someone would prefer the same screenshot in both.

This would probably be a super-easy thing to toggle in the settings 👍

[2020-03-21 21:33] whyboris opened #389 "Don't lock up UI on first scan"
When clicking to _rescan_ the horizontal progress bar for first step shows up and locks up the screen until the extraction step.

This is bad UX (my fault 😓 ) -- we should make it not lock up 👌

ps - bonus points on getting the 'time remaining' to show up (currently estimates that 'only seconds' left -- because the computation is to look at the time it took to scan the previous files, and since 90

[2020-03-23 12:26] krisu5 opened #390 "Doesn't show thumbnails or filmstrips at all"
I tried open existing VHA2 file that I did with 2.2.0 and did new hub 3 times. Every time filmstrips and thumbnails were black, but it did generate them to the hub folder.

If there's logs somewhere, I don't know where they are. I give them, if you tell me where they are.

Version: 2.2.2
OS: Windows 10 Home, build 1909

[2020-03-25 00:41] whyboris commented on #390
Thank you for sharing 🤝

Just to clarify, I'm guessing this happens:
1. the initial import (with green horizontal bar) succeeds
2. you get to the _thumbnails_ page and all the screenshots are black ✅
3. you wait for the 2nd stage to finish (top-right corner "doughnut" progress bar)
4. you hover with your mouse over thumbnails and they don't show up

I'm curious about (3) -- does it go by quickly o

[2020-03-25 00:49] whyboris opened #391 "Cannot read property 'duration' of undefined"
User reported the bug on initial scan:

[code]
https://github.com/whyboris/Video-Hub-App/commit/9ac5cc02ca8323f72e6cbd558aefa84b31280621 🤦‍♂
https://github.com/whyboris/Video-Hub-App/blob/master/main-support.ts#L444
[code]

Should be easy to fix -- fixing it in the next hour 😎

[2020-03-25 00:51] whyboris commented on #391
turns out:
[code]

[2020-03-25 01:00] whyboris commented on #391
Proposed solution 😅

[code]

[2020-03-25 01:11] #391 closed

[2020-03-25 11:53] krisu5 commented on #390
Yes, all of them.

Console had no errors. Not while generating or reopening the hub.

Yes, VHA2 file and "thumbnails" folder were together all times inside of generated *vha-* folder.

---

I now noticed that when I actually looked into filmstrip / thumbnails images, those were **generated** as black, not with frames of the videos.

[2020-03-25 22:04] whyboris commented on #390
Thank you for the extra details 🤝

Version 2 uses a very different approach compared with 1 when extracting screenshots. I'd love to figure out what's wrong with the current version and fix this problem.

This is the first time I've come across black screenshot files. You should have inside the `vha-` folder three folders:
- clips (may be empty, depends on whether you choose to extract clips)
- fi

[2020-03-26 18:56] krisu5 commented on #390
It's nonexisting. No timecode on the left side.

[2020-04-04 13:37] whyboris opened #394 "Stop initial scan for total number of videos after 500 videos found"
Sometimes users want to create a hub from a directory with thousands of files. During the initial "wizard" the app freezes as it tries to find the exact number of videos.

I think it would be a better experience if the app reported the exact number of videos up to a point (for example 500 videos), after which it reported "over 500 videos found" 👌

This would make the first step never crash 😅

[2020-04-04 13:38] whyboris commented on #389
Part of the solution is #394 -- to not report the exact number of files after the app knows the directory has over 500 files (or some other reasonable default -- determined during experimentation) 👍

[2020-04-08 10:51] deepank120896 commented on #394
@whyboris Is anyone working on this?

[2020-04-09 16:52] Aer20 opened #395 "Filter: Display resolution more accurately"
The current scale is too coarse and therefore not helpful enough.

My feature request is to change the resolutions in the slider for filtering:

Name in Slider: Range of video height
120p: 0-199
240p: 200-319
360p: 320 - 439
480p: 440 - 535
576p: 536 - 679
720p: 680 - 1039
1080p: 1040 - 1399
1440p: 1400 - 2119
2160p: 2119 - 2839
2880p: 2840 - 4279
4320p: 4280 - 10000

This would be very helpful fo

[2020-04-09 17:00] Aer20 opened #396 "New Filter for Framerate"
Especially when editing video, it is very important not to mix frame rates. It would be helpful, if Video Hub App would
1.) have an option to display of the frame rate rounded to whole numbers unter the video or in one of the corners in the thumbnail.
2.) have a new slider filter according to the frame rate rounded to whole numbers (FROM x fps TO y fps)

[2020-04-09 17:06] Aer20 opened #397 "Delete does not work over network drives"
When i open a Hub from a network drive, e.g. from drive "z:" which lays on "\\nas\share" and i try to delete a video, nothing happens.
I have full rights on the drive, on the command line or the windows explorer i can delete the videos.

[2020-04-09 17:14] Aer20 opened #398 "New filter for number of vowels"
Videos from the cameras often have few vowels (eg. Clip0001.mp4 = 1 vowel) and with such a function you can quickly see where there are still unlabeled videos.
So I have this feature request:
- New Filter/Slider according to the number of vowels (a, e, i , o, u, ä, ö, ü)

[2020-04-09 17:18] Aer20 opened #399 "New filter aspect ratio"
It would be helpful to have a new filter for the aspect ratio of the video
Name in filter : range of aspect ratio
Vertical 16:9 : 0 - 0,64
Vertical 4:3 : 0,65-0,89
Square : 0,90-1,10
4:3 : 1,11 - 1,59
16:9 : 1,60 - 1,89
Cinema 2:1 : 1,90 - 2,10
Cinema 2,35:1 : 2,11 - 20,00

[2020-04-09 17:25] Aer20 opened #400 "Quick file rename"
I have the following feature request:
Please implement a very fast file rename: make the filename in the view editable: a click on the filename in the view places a cursor and you can immediately stark typing and on changing the focus (e.g. by clicking elsewhere or pressing ENTER or TAB) the file is renamed.
Like if it would be an input-box with no visible border and transparent background.
This w

[2020-04-09 18:44] whyboris commented on #394
No -- please feel free to fix 👍

I'm thinking even if we detect 1 video it's enough to say "videos detected" -- please feel free to implement as you would like.

Please let me know if you'd like any advice / help / direction 🤝

[2020-04-09 18:46] whyboris commented on #397
Thank you ... I believe this may be because the app tries to move the file to the recycling bin.

In order for this to work, you may have to enable this in the OS:
https://www.remosoftware.com/info/enable-recycle-bin-mapped-network-drives

I've not tested things yet. At the moment I'm very uneasy about deleting the file without it going to the recycling bin (I want users to be able to undo a delet

[2020-04-09 18:53] whyboris commented on #399
This is an interesting idea. Visually it would be too cluttered to fit it as a horizontal slider in the sidebar, but perhaps it could become a "sort by" feature where it sorts videos from vertical to horizontal or from horizontal to vertical 🤷

As a filter it may be relatively easy to add to the current setup -- for every video compute the ratio (width/height) and sort by that number.

Will accept

[2020-04-09 18:55] whyboris commented on #400
This could be a bit tricky, but doable.
I imagine this would make the most sense in the _Details view_ where people are adding/removing tags.

I'd want it behind a toggle (new button) that toggles from regular un-editable title to "renameable" title 👌

PRs welcome 🙂

[2020-04-09 18:58] whyboris commented on #398
This is much-too-specific for general use I think.

If you are familiar with coding you can probably implement something like this; I'd be happy to direct you to where to edit it.

You mention "unlabeled" videos -- are you thinking videos that don't have manual tags added? If so, perhaps it makes sense to just have a sort by "number of tags"?

You can already sort by _date added_ which may be rela

[2020-04-09 19:01] whyboris commented on #396
Interesting -- I never thought frame rate would be something of interest.

I suspect it's a feature very few people would be interested in.

I can help direct you where to edit the code so you can build a custom version of this app that will show the frame rates as well 🤝 🙂

[2020-04-09 19:05] whyboris commented on #395
I agree that the resolution filter is rather coarse.
Visually it would be a bit tricky to implement a more-fine-grained selector.

I guess the resolution filter could be changed to behave more like the _duration filter_ but then it would lose the histogram (which I hope is useful to at least some users).

As in my other comments to the issues you posted I'm happy to show you which code to edit to

[2020-04-09 20:04] Aer20 commented on #397
I did it according to the instructions.
I can also see the network drive in the trash, so the instructions worked formally.
However, I cannot delete any files in the Explorer afterwards. Maybe it's because I'm using a notebook or it doesn't work with the latest cumulative update of Windows 10 or maybe because the notebook is in the corporate domain and the host PC is in a workgroup.
If I change in

[2020-04-09 22:07] whyboris commented on #397
I'll test out my network drive and trash sometime this week 🤞 and report back with what I find.

I don't imagine that deleting something on the network drive should transfer it to your local recycling bin -- it should delete the file to the recycling bin of the remote OS you're connecting to 🤔

If I can't make it work, maybe I'll add a "super-dangerously-delete" option 😅

[2020-04-11 19:06] byrw commented on #400
@whyboris may I work on this?

[2020-04-11 20:04] whyboris commented on #400
@byrw thank you 🤝  -- please let me know if you'd like any assistance / advice / etc 😁

[2020-04-12 15:38] whyboris opened #401 "Store portable app settings next to .exe"
Windows portable stores the `settings.json` in
`C:\Users\<user>\AppData\Roaming\video-hub-app-2`

It should instead store it right next to the .exe file (seems like a better behavior, right?)

Comments welcome. PRs welcome 🙇

[2020-04-14 13:20] whyboris opened #403 "Clicking on any word(s) in auto-generated tags finds nothing"
Turns out at some point the app started using the "tags include" filter rather than "video name has" search filter when clicking on a tag inside the _Auto generated tags_. The result is _no_ videos found 😢

Fixing ASAP -- though anyone is welcome to open a PR if you get there before me 😉

_edit:_ I think this only happens when you disable the manual tags in the settings

[2020-04-14 20:18] LordJon commented on #403
Sorry if this isn't related but I've noticed that if I remove auto generated tags (because they made no sense for a human) and I close the application in the way that does save settings (I'm aware of that bug haha) after a while I notice the tags to be back.

[2020-04-14 20:59] whyboris commented on #403
Thanks LordJon -- I'll take a look. I rarely use the _auto tags_ and haven't removed anything since I  was testing the feature as I built it.

The way the removal of auto-generated tags works is that it adds the word / words to a `remove` list inside the `.vha2` file. And the auto-tags are always auto-generated (never stored); once they are generated, any that match those on the `remove` list are

[2020-04-17 16:57] whyboris opened #404 "Batch adding of tags"
I thought about it, should be simple.

- batch editing mode toggled with a button
    - => opens thumbnails view
    - => opens the manual tag tray
    - => tray shows message "select as many videos as you'd like and click on a tag to add the tag to all of them"
- clicking on any video adds a large checkmark ✅ to indicate "selected"
    - => adds `selected: true` to _ImageElement_
- clicking on an

[2020-04-18 08:31] Kotzlowski opened #406 "Filter for untagged entries"
i want to find entries that are not tagged but cannot find something like a negative tag filter. Maybe I just don't know how to do it?

[2020-04-18 18:24] LordJon commented on #404
Oh that would actually be very helpful. I'm going to use VHA for organising films for a film festival. Making it possible to quickly tag multiple video's this way would make tags a lot more useful!

[2020-04-18 20:40] whyboris commented on #404
I'll try to finish the feature today -- it's functionally 90% there, just need to make the UI (user interface) intuitive / self-explanatory 😊

Thank you for words of encouragement (knowing a feature is useful to others is motivating) 🤝

[2020-04-18 21:49] whyboris commented on #406
Hello -- thank you for the message 🙂

There is no way currently to sort by number of tags or show specifically videos that have no tags added.

If you're interested in doing a minor bit of coding, this feature should be very easy to add for yourself (you would build the app on your computer with the change) -- I'm happy to point you to which files need to be edited a bit for this to work.

Most ea

[2020-04-19 08:37] Kotzlowski commented on #406
Thanks for your fast reply. I will give it a try. But my programming skills end with hello world. I think i have to download the source code, change something in specific files, rebuild the program, right? What files do i have to start with?

[2020-04-19 18:54] whyboris commented on #406
I'm sure you can handle this challenge 😁

You'll need to install:
- `node` (latest version is fine). It comes with `npm` (automatically, nothing needs to be done).
- `git` if on Windows install `git-bash` (don't worry over setup settings, the defaults are fine; _git-bash_ will be your "terminal" -- you can use others, but may as well use this one. On _Mac_ you can use the OS default terminal).
- `

[2020-04-19 19:35] nickrowland commented on #390
Not sure if this helps but I've noticed this is an issue with mkv containers and also flv files. If I change the container to be mp4 (without reencoding) the thumbnails generate correctly. It would be great to get a fix for this as I have a number of files without thumbnails/filmstrips too 😄

[2020-04-19 20:36] LordJon commented on #404
You're welcome Whyboris. The whole app makes life a lot more easy for film festivals, especially during selection with this tagging functionality.

I'm a bit of a lurker around here but if you like it I'll make a new feature request here instead of adding it to other posts haha. At least if that's something useful for the development.

[2020-04-19 21:45] whyboris commented on #390
Thank you @krisu5 and @nickrowland -- over email when some users reported lack of screenshots I requested they send me a clip ([wetransfer](https://wetransfer.com/) makes sending clips easy) I could inspect. Now I have a few clips to investigate.

If you have a clip to share, please send it over to `boris@videohubapp.com` and maybe I'll figure how to fix the screenshot extraction for it in the nex

[2020-04-19 22:04] #404 closed

[2020-04-19 23:07] whyboris commented on #400
🙇 Thank you @byrw for the excellent PR 🎉
I'll add some styling fixes and merge both through the `renaming-file-intgration` branch 👌
Details: https://github.com/whyboris/Video-Hub-App/pull/402#issuecomment-616240376

[2020-04-19 23:18] whyboris commented on #400
My styling will be added sometime this week: https://github.com/whyboris/Video-Hub-App/pull/407

[2020-04-20 14:38] nickrowland commented on #390
@whyboris I just did a quick testing with some problematic files I've got this issue with and thought I'd feedback my findings.

The ```-show_format``` ffprobe option **does** give the correct duration for the video file. The duration for those videos inside the app are however incorrect. I checked inside the app json for the file and the duration for them is set to 0

I did a quick test with the

[2020-04-20 17:20] nickrowland commented on #397
FYI this worked for me. I did map to a new network drive to follow the instructions and had to update the inputDir in the vha2 file to point to the new mapped location (replace all, old location to new). I can now delete!

Thanks!

[2020-04-20 23:27] Kotzlowski commented on #406
I'm on Windows 10

installed node from node-v12.16.2-x64.msi with the option "Automatically install the necessary tools...". So i now have Microsoft Visual Studio Installer, Python 3.8.2, Windows Software Developer Kit, Windows SDK AddOn, Python Launcher

installed git-bash
The clone thing did work

"npm install" gives warnings
$ npm install

  • electron-builder  version=22.4.1
  • loaded configu

[2020-04-20 23:56] whyboris commented on #406
Looks promising, though unsure exactly what went wrong. The key line is here:
[code]
The suggestion you are seeing is to enter the folder and delete the entire `node_modules` folder and try again 🤔

I [forgot to mention](https://github.com/whyboris/Video-Hub-App#development) that you _might_ need to install `Angular` -- the JavaScript framework I'm using for making the visual interface for (and mo

[2020-04-21 14:21] Kotzlowski commented on #406
I deleted everything and downloaded the 32 bit instead of the installed 64 bit versions of git-bash and node.
Now everything works!
Video Hub App 2 is on the left and the coding window is on the right (Elements, Console, Sources, Network, Performance... html-window, below is a box with html / body)

[2020-04-21 17:05] whyboris commented on #406
🎉 Hooray!
Now comes the fun part: coding 😁
I think the easiest thing is to simply add a new way to _sort_ your videos. This way you can sort videos in two new ways "most tags on top" and "least tags on top"

The sorting happens in the `sorting.pipe` file which is a "pipe" meaning stuff goes into it, the stuff gets processed in some way, and stuff comes out out if. In my case - `ImageElement[]` (an

[2020-04-22 22:29] whyboris commented on #400
#407 is done -- now merging #402 and #407 together to create the integration branch PR #408
I think it's ready 😅 🚀 🤞

[2020-04-22 22:36] #400 closed

[2020-04-23 23:06] whyboris commented on #313
In the next version we'll have:
- batch tagging 🎉 select any files, click on tag in tag tray to add tag to all those files
- drag & drop 🎉 drag tags from tag tray into any file to add tag

👍 😎 👍

[2020-04-26 09:24] Kotzlowski commented on #406
Thank you for your advanced training course ;-)
But apparently i made some mistakes.
And that's where my logical mind ends.

hmmmm...

- It still shows "SIDEBAR.sortTags" in dropdown.
- It doesn't sort as it should. Something changes in the sorting but i can't figure out what's changing. It's still some kind of alphabetical.

Files in which i have changed something:

1. sorting.pipe.ts
2. home.com

[2020-04-26 09:34] Kotzlowski commented on #406
I have found an error. Replaced alphabetical with tags.
But now nothing happens when i choose the sort option (SIDEBAR.sortTags) up or down.

added under return randomizeArray(galleryArray, currentIndex);

[code]

[2020-04-26 09:50] Kotzlowski commented on #406
ouch
i started npm start again. Now:

[code]

[2020-04-26 09:55] Kotzlowski commented on #406
i changed

if ((x.tags || []).length < (x.tags || []).length) {

the first error is gone but the second not

ERROR in src/app/pipes/sorting.pipe.ts:144:16 - error TS2367: This condition will always return 'false' since the types '"default" | "hash" | "alphabetAsc" | "alphabetDesc" | "modifiedAsc" | "modifiedDesc" | "sizeAsc" | "sizeDesc" | "starAsc" | "starDesc" | "timeAsc" | "timeDesc" | "yearAsc

[2020-04-26 10:00] Kotzlowski commented on #406
and another change (tagsDesc)

npm start works again :-)

added under return randomizeArray(galleryArray, currentIndex);

[code]

[2020-04-27 03:03] whyboris commented on #406
Awesome! It looks like what you did is what was needed to get everything to work out 👍

I'm guessing you got past the `Cannot read property 'toggled' of undefined` error once you added the `sortOptionTags` object into the `settings-buttons.ts` file 👍

It looks like the main feature you wanted is now working as you wanted! I'm unsure what you mean by "I made two mistakes." -- is it that some UI (us

[2020-04-28 01:28] mcpalmer1980 commented on #313
This is great to hear. Especially useful when away from keyboard (TV viewing). BTW love the new "play selected files' feature :)

[2020-04-30 02:37] whyboris commented on #394
@deepank120896 -- let me know if you're intending to work on this 🤝

[2020-04-30 03:27] whyboris commented on #390
Thank you @nickrowland -- I downloaded most of the videos from the link you provided and all worked (all 5 screenshots per video) except for the last two you shared: `jellyfish-25-mbps-hd-hevc.flv` and `jellyfish-25-mbps-hd-hevc.mkv` -- curiously the `doulbycanyon.mkv` worked for me 🤷‍♂️

Then when I copied the 2 problematic files into a new folder and created a brand new hub with only the two of

[2020-05-04 16:54] whyboris commented on #394
I'll add this feature before release: #412

[2020-05-04 21:06] mcpalmer1980 commented on #406
Searching by the number of tags is actually a fairly common features in image gallery apps. I consider Video-Hub to be the video equivalent and would definitely use this feature. Mostly just to find untagged videos so I can tag them.

[2020-05-04 21:09] mcpalmer1980 commented on #398
I think regular expressions might be a good feature that can solve this and other problems

[2020-05-04 22:07] whyboris commented on #398
So you're thinking to have a "RegEx" search where a user can enter a regex instead of a string?

Easy-enough to implement 👌 right?

PR welcome 👍

[2020-05-04 22:08] whyboris commented on #406
Good to know!
I'm sadly not very familiar with image gallery apps so it's good to know. I may as well add this in 🤷‍♂️

@Kotzlowski -- are you interested in submitting your code, or should I just replicate it on my own?

Cheers 🤝

[2020-05-04 23:29] mcpalmer1980 commented on #398
Should there be a menu option or just a prefix to the string maybe?

On Mon, May 4, 2020 at 6:07 PM Boris <notifications@github.com> wrote:

[2020-05-04 23:32] whyboris commented on #398
I'm unsure how it's typically done. I imagine a simple search bar - like all the rest of them on the sidebar, but it allows you to put in a regex? 🤷

Suggestions welcome

[2020-05-06 00:01] whyboris opened #413 "Windows 10 maximize, close, reopen position incorrect"
On Windows 10:
1. maximize app
2. close app
3. open app
4. observe that the top bar extends above the screen, making the close/maximize/minimize buttons harder to press.

Should fix 😅 💦

[2020-05-07 09:16] Kotzlowski commented on #406
I uploaded the changed files to the fork manually file by file and created a pull request.

How do i make my own Video-Hub-App out of it so that i don't have to use Git Bash / npm start all the time?

[2020-05-07 14:22] whyboris commented on #406
Hey! Just so you know, if you get more into programming stuff, a lot of the procedures become faster. For example, rather than adding the code changes file-by-file there is a `git` command that lets you push all the changes to your fork 😉 -- I'll be happy to help whenever.

Whenever you want to _build_ the app from your code, you just run a command (all currently-available commands for this projec

[2020-05-07 23:01] #406 closed

[2020-05-07 23:03] whyboris commented on #406
Thank you @Kotzlowski for your code 🤝

I have copy-pasted your work #414 into #415 (because there were too many whitespace changes otherwise). So your code is in `master` and will be released with the next release 🎉

[2020-05-10 20:01] whyboris commented on #389
It's getting solved with #383 🎉

[2020-05-12 04:36] whyboris opened #420 "Clean up (click) emits"
There's `RightClickEmit`, `VideoClickEmit`, and many others that are not strongly typed 😓

It's messy code figuring out which `(click)` event is happening and what is being sent via `new EventEmitter` from components to their parents 🙄

My todo 😅

[2020-05-12 10:18] jackusay commented on #390
same problem in win7 v2.2.3

random sample from nickrowland 's link: https://standaloneinstaller.com/blog/big-list-of-sample-videos-for-testers-124.html

my `333.vha2`:
[code]

duration is correct, but thumbnails are all black...

[2020-05-14 22:18] altynbeq commented on #420
Hi, do you still need help with it ?

[2020-05-14 23:19] whyboris commented on #420
I'm happy to take the help if you're offering 😉

The challenge is I have components nested inside components that emit data that needs to be passed through.

Currently everything works on `master` so it's no problem, but it's really convoluted at times, and I suspect there's a way to make it all uniform.

If you decide to give this a go, please let me know if you have any questions and feel free t

[2020-05-15 18:08] whyboris commented on #385
Thank you @martincaron for fixing the problem with your #424 🙇

[2020-05-15 18:08] #385 closed

[2020-05-15 19:28] whyboris commented on #386
Thank you @martincaron for implementing this feature (#422) 🎉 🙇  🥇

[2020-05-15 19:28] #386 closed

[2020-05-15 19:29] whyboris commented on #399
Thank you @martincaron for implementing this feature (#423)  👍 🎖️ 🤝

[2020-05-15 19:29] #399 closed

[2020-05-15 21:19] whyboris commented on #365
Screenshot for `README.md`

![video-hub-app](https://user-images.githubusercontent.com/17264277/82097107-3ed91700-96d0-11ea-8679-87fa3e07cd0b.jpg)

[2020-05-15 22:02] martincaron commented on #413
Tested on Windows 10, but observed a different behavior :

After executing step #`1`, steps #`2` and #`3` are **not necessary** to observe behavior in #`4`

I'll take a stab at it, hopefully i'm not working on something different.

[2020-05-16 01:17] martincaron commented on #413
Disregard the previous comment about a different behavior. I got mixed up. I can reproduce the same behavior.

I think it may be considering the window `frame` when exporting the bounds to save.

[2020-05-16 03:44] whyboris commented on #413
I'm pretty sure everything was working in version 1.0.0 -- so since then, perhaps Electron changed its behavior, or a new version of Windows causes trouble 🤷‍♂️ ... just guesses here -- I've spent 0 time so far looking into the issue 😅

I'll take a look if you'd prefer to work on something else 🤝

[2020-05-16 04:11] martincaron commented on #413
Got this working in Windows 10. Looks like it was a combination of two factors :
- Frameless BrowserWindow
- Exporting/Saving the bounds on exit included the frame pixels.

I'll submit a PR

[2020-05-16 13:30] whyboris opened #426 "[shortcuts] Command + H on Mac shortcut conflict"
`Command` + `H` is the Mac command to hide the app which some users may use.

In VHA the same command hides all the panels which doesn't make for a good UX (user experience).

I'm open to suggestions for the fix. The easiest is probably reassigning the VHA shortcut to something else.

[2020-05-16 14:03] whyboris commented on #413
Thank you @martincaron for the fix 🙇‍♂️🎖🎉 #425

[2020-05-16 14:03] #413 closed

[2020-05-16 15:33] martincaron commented on #403
Took a look at the initial issue with a wider lens today. I've occasionally been getting `0 videos found` in situations when I was expecting a different behavior based on my library. Use Cases :

**The Word Cloud uses the** :
-	A) `VideoName` filter on a `folder-tag` with manualTags=`false`
-	B) `VideoName` filter on a `file-tag` with manualTags=`false`
-	C) `VideoName` filter on a `folder-tag` wi

[2020-05-16 15:40] whyboris commented on #403
I'll answer more-fully shortly, but the short back story is that in version 1.0.0 I didn't have tags, and then sometime in version 2.0.0 there were tags. I still haven't used the feature personally, but enough people have asked for it so it's now there.

Basically, I hadn't spent enough TLC (tender, loving care) on the feature to address whatever issues crept up while adding the feature 😅

I'll po

[2020-05-16 15:58] whyboris commented on #398
I have a PR #427 that addresses this issue 😎

[2020-05-16 16:24] martincaron commented on #403
ah! That makes a lot of sense!
No rush at all, I've been enjoying working this app. 🤝

[2020-05-16 16:25] #398 closed

[2020-05-16 16:49] whyboris commented on #403
Great to hear!
Check out the `RegEx` PR I just merged 😉 #427 😎

[2020-05-16 17:26] martincaron commented on #426
How about `Command` + `K` for Kiosk mode since I think that might be the underlying intention. Like Chrome's Kiosk mode ?

[2020-05-17 16:56] whyboris commented on #426
I love the `K` for "Kiosk" ✅

This is a 2-line change that is perfect as a `good first issue`.

If no one picks it up, I'll do it on the day I'm releasing the next version of the app (whenever that is; no sooner than a month from now probably) 🤝

[2020-05-17 18:28] Kotzlowski commented on #406
Thank you @whyboris for your big support and release 2.2.3 :smiley:

[2020-05-18 14:14] whyboris opened #431 "Sometimes thumbnails are small on startup"
Occasionally when starting the app the thumbnail size isn't remembered and is shown as very small. A simple zoom-in/out or switching of views and back fixes the problem.

Unsure what the cause is. There's probably a hack-y way of fixing it too. Would be cool to also figure out why it's happening.

[2020-05-19 03:10] whyboris commented on #394
I'm thinking this feature will not be needed once #383 lands 😁

[2020-05-19 13:59] mcpalmer1980 opened #433 "Default Player on Linux"
The change default player dialog filters files by the '.exe' extension without any options to show all files. Linux does not use this extension, and I doubt Mac does either. I worked around this by creating a bash script and naming it player.exe.

The common uses for selecting a custom player instead of using the system default would probably be to use a 'portable' player on a thumb drive, or to u

[2020-05-19 16:30] whyboris opened #434 "Make alphabetical sort case insensitive"
Currently "To" will come before "kg" even though "t" is later than "k" in the alphabet.

Let's make the alphabetical sort case insensitive 😉

[2020-05-19 16:35] whyboris commented on #433
I try to make the app as easy to use for the greatest number.

The custom player on Windows and on Mac works well. I don't know much about Linux which is why the option isn't available for Linux.

This is the line which needs to change to allow Linux video players:
https://github.com/whyboris/Video-Hub-App/blob/master/main.ts#L456

What are the appropriate extensions? `AppImage` ?

[2020-05-19 17:14] martincaron opened #435 "[shortcuts] Add Shortcut for toggling Tag tray"
It would be useful to see a shortcut for toggling the tag tray at the bottom. Same way we can currently toggle the side-bar search with `command` + `b`

`command` + `t` is already taken by the auto-tag modal so not sure which shortcut to propose.

[2020-05-19 17:24] martincaron opened #436 "Filter down the Tag Tray based on videos"
The manual tag tray currently displays the entirety of the tags regardless of video subset currently being displayed by search criteria.

It would be nice for the tag tray to react with the same behavior as the Word Cloud. That is, further filter the manual tags based on the current video subset.

[2020-05-19 17:48] mcpalmer1980 commented on #433
Unfortunately there is no appropriate extension. Sure, AppImage is fairly popular, but most binary files have no extension at all. I suppose adding AppImage and sh would serve most users, or just add something like:

[code]

I would love to be able to just type in a command, such as:

`
smplayer -config-path /media/Data2/Apps/smplayer`

A quick look through Electron documentations found no way to

[2020-05-19 18:01] mcpalmer1980 commented on #317
This issue persists on the Gnome desktop, but the icon shows fine in KDE. I haven't tried other desktop environments.

[2020-05-19 18:18] whyboris commented on #433
I like the addition of "All Files" as a simple alternative for those who know what they are doing 👍

Thank you for the proposed solution -- PR welcome 😁

[2020-05-19 19:46] whyboris commented on #435
I'm open to suggestions for which key to use for the keyboard shortcut.

PR welcome with any key (we can later change it if we decide another key is better).

[2020-05-19 19:48] whyboris commented on #436
This might not be very easy (though likely doable), unsure from my memory of the code.

PR welcome -- I imagine we could have a simple toggle in the tag tray that either shows _all_ tags or only ones that are found within the current search results.

If you're making a PR, don't worry too much about making the UI pretty -- I can clean it up afterwards 👌

[2020-05-21 11:57] martincaron commented on #435
Ok. Based on what's available I'm proposing `command` + `y`

[2020-05-21 15:00] whyboris commented on #435
Thank you for the suggestion 🙂

This is a simple code change I recommend leaving for `good first issue` for whoever is starting out with coding. I'm happy to assist if you have questions.

If no one volunteers a PR I'll fix it a day or two before releasing the next version (at least a month from now) 👌

[2020-05-22 22:07] whyboris commented on #435
🎉 Great news!
I implemented letting users change the shortcut keys! #432
It's still very WIP, but I'm sure I'll get it 💯 before the next release 😎
I'll add this shortcut with the default of `y` to toggle it 👍
Cheers!

[2020-05-23 13:19] martincaron commented on #435
Nice. Good stuff!

[2020-05-23 13:20] martincaron commented on #436
I started working on this. Should have something for PR shortly

[2020-05-24 03:49] atyourservicesire commented on #397
Hi Boris. I would really like to see that "super-dangerously-delete" option added 👍

As of right now, it's kind of difficult to manage your video library if you have it stored on your NAS, since you have to first locate the files in your directory, delete them, and then rescan your library.

I appreciate the guide but I did not manage to get it to work, and I don't really wish to map the drive and

[2020-05-25 14:37] whyboris opened #438 "Allow delete bypassing recycling bin"
#397 - users are having trouble deleting over network drives

This is because I'm using [trash](https://github.com/sindresorhus/trash) to send files to the _Recycling Bin_ / _Trash_ instead of the destructive `rm path/to/file.mp4` command 😅

Since making it work over network drives requires some setup, let's instead do this:

### What to do:
1. Add a new button below the "Show 'Delete' option in t

[2020-05-25 14:38] whyboris commented on #397
Great idea @atyourservicesire 🤝

I'll add the "super-dangerously-delete" option in the future #438 (or as soon as someone creates a PR for it 👍 )

[2020-05-25 17:30] whyboris opened #439 "Discord channel?"
Hey everyone 👋

I see many projects have a [_Discord_](https://discord.com/) (or some other chat) channel.

I'm unsure what the benefit of it would be, but please comment if you think there's a good reason for it for this project.

Cheers!

[2020-05-25 21:20] LordJon commented on #439
Hey Whyboris. I haven't seen Discord being used for github projects yet but I do know it can be a very usefull communication tool for fast communication and brainstorming. It's less usefull if you want to find specific information (as opposed to github comments or a forum).
I think it could be interesting though.

Small tip if many people would join such a discord server: do not allow everyone to

[2020-05-25 21:36] whyboris commented on #433
Thank you @mcpalmer1980 -- I implemented this change -- it will be available in the next version of VHA 🎉
https://github.com/whyboris/Video-Hub-App/pull/432/commits/ce20aa7e30088c99dfe87875c4eab71a49e62b0d

[2020-05-25 23:01] whyboris commented on #403
Thank you @martincaron for the ideas here: https://github.com/whyboris/Video-Hub-App/pull/437#issuecomment-633732164

I'm open to suggestions and a deeper redesign 👍

[2020-05-25 23:16] martincaron opened #441 "[shortcuts] Toggling Minimal/Kiosk mode does not hide Tag Tray"
Pretty simple one :
- If Tag Tray is already open and then Minimal/Kiosk mode is activated
- Then the Tag Tray remains open/visible.

My expectation would be for the Tag Tray to follow suit, and hide itself like the rest of the surrounding containers.

It could always be retoggled afterwards with the soon-to-be Issue #435

[2020-05-26 02:27] martincaron opened #442 "Tag Tray Improvements"
Opening up discussion based on two previous exchanges:
- **PR** #437 : discussed merging the Word Cloud with the Tag Tray and a number of other items
- **Issue** #403 : discussed consistency of the behavior when clicking on a tag anywhere in the application

**Propositions** :
1. Move the `Word Cloud` into the `Tag Tray` and treat it as an optional view the user can toggle (see point 5 below). Thi

[2020-05-26 02:37] martincaron commented on #442
@whyboris in **PR** #437 you mentioned :

were you referring to the popup dialog that allows you to `delete` keywords ? Or just the regular auto-tags as being included in the results ?

[2020-05-26 03:55] whyboris commented on #442
Sorry I wasn't very clear.

You were suggesting to start using the space of _Tag tray_ to show tags (as currently), but also word cloud. The "auto tags" (the feature which shows you two columns of "tags" - most-common words inside file names) may also be useful to show in the tag tray (since the tag tray has a lot of space).

I'm unsure if it's useful, but if it's very easy from the code perspecti

[2020-05-26 04:43] martincaron commented on #442
Very clear. That all makes sense to me.
Happy to leave the UI portion 😜
I don't suspect I'll have anything for review for at least a week or so.

[2020-05-26 12:54] cal2195 commented on #442
Just chiming in on this!

I personally love the word cloud, and never use the tag tray. My main problem with the tag tray is that:

1. It seems to take a while to load. (Maybe this has been addressed recently).

2. I don't like that it hovers over the video grid content.

3. It doesn't contain all the tags (auto, folder etc.)

I would be very supportive of syncing the two views to use the same cod

[2020-05-26 13:35] whyboris commented on #442
Hey Cal, I probably should have a glossary as my app has grown in size 😅

The *Tag tray* we are talking about is one that shows _manually added tags_ and it slides from the bottom of the screen (only obscuring ~170px of screen space).

The *auto tag* currently show up in a _modal_ (covering up the entire gallery) -- I think you're worried we want to use this thing as default 😅

I'm thinking of all

[2020-05-26 13:39] whyboris commented on #441
Great catch! I've not used the shortcut since I added it to the app, and the _tag tray_ was added only recently 😅

PR welcome for _also_ minimizing the _tag tray_ (also please glance if the "similar videos tray" also minimizes if it's open). 🙇

This is likely a few lines of code only; I think it's good to leave it for `good first issue` for anyone who is just starting out with coding or with GitHu

[2020-05-28 01:54] whyboris commented on #441
ps -- this is better to fix after #443 merges -- since the PR touches a lot of the shortcut code 👍

[2020-05-28 01:54] whyboris commented on #426
Let's wait until #443 lands as it touches the shortcut code 👍

[2020-05-28 01:55] whyboris commented on #435
Let's wait until #443 merges 👍 -- it moves the shortcut code to another location 🔀

[2020-05-28 17:50] frez777 opened #445 "main-filenames as configurable option"
I would like to do a feature request: **to have an option to add new file extension on-the-go** (I'm talking about the file main-filenames.ts which defines what kind of file the video hub will try to import).

Some people may have some video files that works with ffmpeg but its not imported by default because the file extension is not on main-filenames.ts file, some of them maybe not worth add for

[2020-05-28 22:48] whyboris commented on #445
Seems doable 👌

PR welcome. I imagine in the _main settings tab_ (3rd tab - the one that opens by default) below all the "select default video player" options 👍

I'm guessing it would accept a comma-separated list of extensions (without periods), so
[code]

Other suggestions welcome for how to handle it 👍

[2020-05-31 16:43] whyboris opened #446 "Add 'select all' when batch tagging"
User requested. Seems simple enough -- add a button in the _manual tags tray_ ✅

[2020-06-08 17:07] jamesd35 commented on #446
Hi, can I work on this?

[2020-06-08 20:20] jamesd35 commented on #446
Hi, can I work on this feature?

[2020-06-08 20:26] whyboris commented on #446
Thank you 🤝

I'm sometimes rather particular about the UI (user interface), so don't worry too much about making things look great / harmonious with the rest -- I can fix it up after your code merges in 👍

Please feel free to reach out with any questions -- I'm happy to help 🙌

[2020-06-10 11:40] frez777 commented on #445
I tried so far to implement the last thing a mention on this issue, which is an option to skip the extension check, because its easier and I'm not a developer, my skills are pretty bad. but unfortunately it didn't work.

What I tried was this:

---
```src/app/common/settings-buttons.ts```:
add:
```    'searchForAllFiles'``` on SettingsButtonsGroups constant

and
[code]
on SettingsButtons constant

[2020-06-10 17:13] CrendKing opened #450 "Allow exclude / ignore of directories / folders"
It seems currently VHA2 can't exclude directories when creating hub. To workaround this, user needs to restructure their existing files (e.g. moving `C:\videos\exclude_this` out of `C:\videos`), which is inconvenient. Exclusion is common feature available in many other organizer applications. Suggest to implement this.

Alternatively, VHA2 could consider implement feature that allow multiple direc

[2020-06-11 15:26] whyboris commented on #450
Thank you for the suggestion!

I'm currently working on allowing more than one folder as the source of the hub 👍
- https://github.com/whyboris/Video-Hub-App/pull/444
- https://github.com/whyboris/Video-Hub-App/pull/443

Excluding folders seems like it would be useful to some people. I'll see if I can add that feature with `3.0.0` release 👍

[2020-06-11 16:05] CrendKing commented on #450
Multi source could serve the same purpose. Thanks.

[2020-06-11 17:25] jamesd35 commented on #438
Hi can I work on this?

[2020-06-17 00:40] jamesd35 commented on #431
What OS does this error occur on? I wasn't able to replicate on linux. Or maybe it occurs when there are over some number of videos in the hub?

[2020-06-17 12:17] whyboris commented on #431
I've seen this on _Windows_ -- unsure if it happens on other OSes.

Perhaps it has something to do with the app starting up with a very small window to show the loading animation - before it resizes to the last-window-size.

Other thoughts ideas welcome 👍

[2020-06-19 14:28] CrendKing opened #454 "Allow sorting by creation time"
Currently the app only allows sorting items by the modified time. Created time is another commonly used property in most file systems. Users may find it useful to sort the library.

Currently the `mtime` property is indexed in the .vha2 file. If we'd introduce the new `ctime`, user will have to re-index the library. Fortunately, the thumbnails and filmstrip can be reused.

Also, for folders, the c

[2020-06-19 14:31] cal2195 commented on #454
Pull request are always welcome! 😄

Please make one, even without translations! 👍

[2020-06-19 14:44] CrendKing commented on #454
Here you are: https://github.com/whyboris/Video-Hub-App/pull/455

I did with minimum changes. Still, for folders why not just use the folder's mtime and ctime, instead of traversing content in `FolderViewPipe::transform()`?

[2020-06-20 18:07] whyboris commented on #454
Thank you for the PR, the code looks good! I'll test it out and merge shortly.

I hope I understand your suggestion / question about folder's _mtime_ and _ctime_ -- at the moment the app does not include any information about a folder, only about videos. So there's no place to affix the folder's _mtime_ or _ctime_ to.

Let me know if I've misunderstood your question.

[2020-06-20 19:31] CrendKing commented on #454
My suggestion is, when sorting folders, instead of using its contained video's times, query filesystem for that folder's real times. You don't need to index folders. Just do a real time `fs.statSync()` on that folder.

Of course the rules of how a directory's mtime and ctime update depends on the underlying file system. But I think this app do not need to concern too much of those details regardin

[2020-06-21 03:23] whyboris commented on #454
I'm afraid that I'd have to implement a very different system if I start including information about the _folders_. As the app is designed (for better or worse), it only watches for information about individual _files_. While what you propose is doable, and perhaps more efficient for some sub-function of the app, I'm unsure the added complexity is worth it at this time.

I'm currently working on a

[2020-06-21 16:53] whyboris commented on #438
Thank you @jamesd35 for the feature addition 🙇

Solved with #453 -- will be released along with v3 later this year 🤝

[2020-06-21 16:53] #438 closed

[2020-06-21 16:54] whyboris commented on #397
@jamesd35 added the "super dangerously delete" option 🎖️ ! It will be released in the v3.0.0 (the next) release 🎉

[2020-06-21 17:37] whyboris commented on #454
Thank you again @CrendKing for adding this feature 🙇 #455 🎉 🚀 😁

[2020-06-21 18:51] CrendKing commented on #454
No problem. I have several other local changes that suits my own taste. I'm not sure if you guys want any of them.

[2020-06-22 02:19] whyboris commented on #454
Hey @CrendKing -- it's just me over here 😊 and other improvements are welcome.

Could you comment with a short description of some improvements you've made for your own taste? 🙂

[2020-06-22 02:41] whyboris opened #456 "Video Hub App 3"
I'm working on the next major release of **Video Hub App** version `3.0.0` 🎉

The intended release date is "when it's ready" 😅 -- probably in a few months once I'm done adding the features, polishing UI, and making sure no bugs are around.

The large bulk of changes to the extraction functionality came in through #443 ✅

Two key features:
- More than one 'root' folder per hub 🎉
- Monitoring of fol

[2020-06-22 02:42] whyboris commented on #341
Feature is further postponed until I release version 3.0.0 - see #456 🙆‍♂️

[2020-06-22 09:45] CrendKing commented on #454
1. Properly save the window state when close. Currently the "maximized" state is not saved, only the dimension. Which means if I maximize the window and close the app, the next time it's launched, the window seems at the same size but moveable. I found https://github.com/mawie81/electron-window-state the easiest way to solve the problem.

2. In Windows, the close button of a maximize window should

[2020-06-22 15:19] whyboris commented on #454
I love all these! If you have the patience to create a PR for each or all at the same time (whichever is easiest) I'll accept all 👍 🙇

Re (3) "Default" sort order -- the original intention (and as far as I remember, the current implementation) is the order you'd see if you traversed your directory by opening the top-most unvisited folder (in alphabetical order) and listed all videos in alphabetica

[2020-06-22 17:12] CrendKing commented on #454
For 1) and 2), see https://github.com/whyboris/Video-Hub-App/pull/457

For 4), see https://github.com/whyboris/Video-Hub-App/pull/458. Unfortunately, I only implemented the background side. To make the feature full, the component HTML needs to be implemented as well. I was too lazy to do that part, but if you insist on me doing that, I can try. I'm just a bit afraid of introducing UI elements that

[2020-06-22 22:00] whyboris commented on #454
Thank you for (1) and (2) -- merged 🚀

(4) is interesting -- I'm unsure what command line arguments could be useful for -- I added a [comment in the PR](https://github.com/whyboris/Video-Hub-App/pull/458#issuecomment-647788991)

(3) I see the bug you're describing -- sorry I missed this point earlier. This is definitely a bug and it would make sense for the app to remember the sorting option the u

[2020-06-22 23:29] CrendKing commented on #454
Thanks. For 3) I'll just wait for 3.0 then.

[2020-06-22 23:52] whyboris commented on #454
I think the fix I would implement for (3) would be simply to update the "current sort order" dropdown after `restoreSettingsFromBefore` runs -- it's probably just a line or two to add (I believe there are already some methods that update the dropdown) 🤷

Either way -- in version 3 I will have to re-think the "Default" sort anyway -- because the new system that imports videos will run live (skippin

[2020-06-22 23:54] whyboris commented on #456
I'll be adding comments to keep track of things to do before v3 release. Others are welcome to discuss anything here too.

- https://github.com/whyboris/Video-Hub-App/issues/454#issuecomment-647819516 - make sure `Default` sort makes sense (with the new indexing system?) and when re-opening the app, the previous sort order shows up in the dropdown 😅

[2020-06-22 23:54] #454 closed

[2020-06-23 00:12] whyboris commented on #394
I'm leaving this issue open just in case someone, who like me, is also annoyed at the app freezing 😅

This feature will be fixed with #443 - `Video Hub App 3` release 🎉

No need to work on this issue 👌

[2020-06-25 22:56] whyboris commented on #390
I was able to replicate with the latest version of VHA on the latest version of Mac. I have no idea why -- no console errors thrown during extraction. I'll need to console.log a bunch to figure out what's going wrong. Though my biggest priority is getting `VHA 3.0.0` released -- and while testing it on every OS I'll hopefully figure out what's going wrong then.

At the moment I expect another 2 or

[2020-06-27 16:49] whyboris opened #459 "Add recently opened items to taskbar / dock"
Should be relatively easy 🤔

https://www.electronjs.org/docs/tutorial/recent-documents

1) After app starts send over the list of 'recently opened', and in `main.ts` just:
[code]

2) When user clears recently-shown in the app, send over to `main.ts` a message and:
[code]

👍

[2020-06-28 21:07] jamesd35 commented on #355
What exactly is the issue in the first case? Not sure I'm understanding correctly. Sometimes not all of the thumbnails display?

[2020-06-28 21:53] whyboris commented on #355
🤷  I'm unsure how important it is to fix this problem -- as far as I understand there are times when you switch to the gallery view and there are empty spots, as if you're seeing the end of the gallery (when in fact there are many more videos). They appear as soon as you start scrolling. 🤔

**It's very low priority** -- and I guess I kept it open in case someone stumbles across what they think cou

[2020-07-01 21:33] whyboris opened #463 "Sort files with numbers in increasing order, not lexicographically"
Currently files are sorted:
[code]
rather than
[code]

Might not be annoying to fix, but leaving the issue open in case someone wants a challenge 🤷

[2020-07-02 19:22] whyboris commented on #394
Closing for cleanup. Will be released with #443 👍 -- already fixed in the `video-hub-app-3` branch 😎

[2020-07-02 19:22] #394 closed

[2020-07-05 21:58] whyboris opened #468 "Allow user to change import settings after hub has been created"
This is really easy, but will take some time to make the UI look pretty.

I'll work on this feature after version 3.0.0 is released 👍

[2020-07-05 21:59] whyboris commented on #389
Will be closed by #443 when version 3.0.0 is released 🎉

[2020-07-06 00:06] litelime opened #469 "Update file metadata after video file is edited"
**Issue 1**: Video metadata (size,duration) in app is incorrect after editing a video.
**Issue 2**: If using the option of "Open video at time of clicked screenshot" the edited video will fail to open, I assume this is due to those times not existing in the new edited video.
Potential Solution: The ability to re-scan/update this video metadata
Details: Sometimes I have added a video to the app, bu

[2020-07-06 21:00] whyboris opened #470 "Open video from screenshot clicked on filmstrip view"
Currently you can open a video from the screenshot clicked in the _Thumbnails View_ but not in the _Filmstrip View_.

Would be cool to add it in -- should be just a bit of math 👋

Happy to help anyone who tries to add this feature 🤝

[2020-07-06 21:10] whyboris opened #471 "Single-click / Double-click option"
Some users requested a way to toggle single-click / double-click.

Specifically, when double-click is enabled you open a video by _double clicking_ whereas single clicking does either nothing, or will show you "similar videos" if the similar videos tab is open.

[2020-07-07 13:53] whyboris opened #472 "Add comments to each video"
Very easy to do technically, just a matter of adding the UI for it.

I'll think about adding this feature after version 3 comes out 🤔

[2020-07-07 15:00] sezalmittal987 commented on #471
Can i work on this issue?

[2020-07-07 16:11] whyboris commented on #471
@sezalmittal987 awesome, thank you!

Please let me know if you'd like a hand with anything.

Also, consider working off `video-hub-app-3` branch for an easier merge later -- as a lot of things have moved around. _not required_ 👌

[2020-07-07 16:18] sezalmittal987 commented on #471
As this the first time i am contributing to any project so i may need help.Thank you.

[2020-07-09 14:51] TheTacoScott opened #474 "Proposal: Change storage path for all hashed based files (clips/thumbnails/filmstrips)"
Currently all files that are generated (clips/thumbnails/filmstrips) get put into 3 bucketed folders under their vha location.

for example:

`<root>/clips/00c97592786e278a9591aeea96ae36c4.mp4`

I think there is wisdom to migrate this to

`<root>/(clips|thumbnails|filmstrips)/<first_char_of_hash>/<second_char_of_hash>/00c97592786e278a9591aeea96ae36c4.(jpg|mp4)`

This can help circumvent limitation

[2020-07-09 14:55] TheTacoScott opened #475 "Proposal: Alter/improve/split file format for .vha2 files"
Having a vha2 file be json might come with serialization/deserialization implications as it grows in size so there might be wisdom in migrating to sqlite or some similar local database variant.

In the absence of a full file format migration or split, there may be wisdom in refactoring the schema to better account for the predominant access pattern (which forgive my ignorance) is:

* Doing a looku

[2020-07-09 15:00] TheTacoScott opened #476 "Proposal: Rethink how tags are stored in .vha2 files"
While it's currently, likely, trivial to do in memory bootstrapping and scanning/searching of tags there are some limitations here and a refactor could provide some benefit.

Given that vha allows tags search with an AND/OR/NOT grouping operators it makes some sense perhaps store these in a local db type thing (sqlite or a variant). Excluding that, it may be wise to store these as more of an inver

[2020-07-09 15:09] TheTacoScott commented on #456
I think there is wisdom considering these (in whole or in part) for consideration in v3.x

https://github.com/whyboris/Video-Hub-App/issues/474
https://github.com/whyboris/Video-Hub-App/issues/475
https://github.com/whyboris/Video-Hub-App/issues/476

[2020-07-09 15:14] whyboris commented on #475
Thank you for the proposal! There are likely benefits to going to a database.

I am strongly in favor of a simple JSON because it makes is _SUPER_ easy for even non-technical people to open & edit the file safely. I guess what you might be suggesting is to simply use SQLite under the hood - even if we don't change the saved file format.

While size _is_ a concern (so many duplicate keys!), I've no

[2020-07-09 15:19] whyboris commented on #474
If the issue is with only with Linux, I'll respectfully decline a major refactor to make it work slightly faster there 🤔

I glanced now and for Windows 10, the maximum number of files seems to be `4,294,967,295` and for Mac it is likely similar. And given that the user isn't opening any of these folders (_Node_ is), I don't imagine there are performance issues.

Have you experienced slowdowns that

[2020-07-09 15:24] whyboris commented on #476
Thank you for the proposal!

I've not used tags at all except while developing (because enough people requested the feature). I suspect the search is fast (less than a second) even with 10,000 videos each with 10 tags. 🤷

I don't yet see a motivation to do a major refactor unless there's an observed (or definitely-going-to-happen-soon) problem. 🤔

[2020-07-09 15:27] whyboris commented on #456
Thank you @TheTacoScott -- I looked over these, but am not yet sold on the benefits (especially considering the immense cost in time of development). Please feel free to let me know more reasons in favor of any of the proposals in their respective _Issue_ pages 👍

[2020-07-09 16:24] TheTacoScott commented on #476
It's more about raising the ceiling of what is possible, and offloading certain problem buckets to tools/libraries that can best handle those problem buckets. Ultimately, the goal here is reduce the amount of  code the project needs to maintain while boosting what the project can offer.

If you want tags to be a supported feature the project is on the hook for a good amount of code that another li

[2020-07-09 16:29] TheTacoScott commented on #474
Slowdowns occur when debugging and while basically any new filesystem can support 1M+ files with ease there are certain performance considerations as you have to make underlying system calls X times to retrieve all the files. I'm not what syscall nodejs makes for "file open" and "file exists" events and if those involve dir listing in part or in full but it's worth considering regardless.

This "i

[2020-07-09 16:31] TheTacoScott commented on #475
Well... you're certainly asking the right question: Where do you see the biggest improvements for the users would be?

That basically shuts down down my argument, but here it is anyway:

Immediate benefit to the user: 0.00000000001.
But this foundation raises the ceiling of of what one can do, but I think I agree it doesn't provide enough value for consideration.

[2020-07-09 16:31] #475 closed

[2020-07-09 16:46] whyboris commented on #475
😅 I've been itching to get back to _Face Detection_ work in VHA and I have 2 other projects I've been meaning to start since about 2 years ago -- never find enough time 😓

I've been trying to say 'no' to most things that take time :trollface:

I'm thinking after version 3.0.0 release (and possibly face detection work) I'll finally feel comfortable to work on the other two ideas. Video Hub App is a

[2020-07-09 16:49] whyboris commented on #474
I have a customer who said his collection is over 100,000 video files (and the initial import process occasionally crashed for him), so VHA `3.0.0` will have the better way to import and handle files.

I'll reach out to the individual and ask for feedback about how well everything works with version 3.0.0

I'm unsure if I'd be able to amass such a large video collection so as to test things out 😅

[2020-07-09 17:01] whyboris commented on #476
Thank you for your thoughts!

I'm uneasy about using other libraries when a bit of personal code will do. For example, I looked into [ngx-chips](https://github.com/Gbuomprisco/ngx-chips) for implementing tags; if I used the library, I would have likely had to fight the library to get the behavior I wanted.

Instead, manual tagging ended up being just a small file with some basic interactions. As f

[2020-07-09 17:01] TheTacoScott opened #477 "Proposal: Allow for 3rd party hooks into VHA"
Since the code is open source, the custom hashing algorithm is easy to write in another language, the main config file (.vha2) is json, and the thumbnails/clips/filmstrips are live in predictable places with predictable file formats I think there's some benefit to offloading future "obscure" or "limiting" features to a simple 3rd party api that you expose from vha.

For example, if someone wants t

[2020-07-09 17:03] TheTacoScott commented on #477
This piece fully offloads some obscure use cases out of the Video-Hub-App project and makes it so those features become extensions or plugins, or something similar.

The project could facilitate their existence but isn't on the hook for their development.

[2020-07-09 17:10] TheTacoScott commented on #474
My "video" collection is 12M+ plus. but 99% of them are 64x64 (and typically about 90 frames) moving perceptual hashes. Based on how vha works I like the idea of being able to swap in/swap out which files are considered a part of a hub at any given moment by updating the vha2 file based on an outside-of-the-program search  that can project into the vha2 the result.

Having all 12M files set in the

[2020-07-09 17:16] TheTacoScott commented on #476
_I think that as long as my app can handle 10,000 without trouble, it covers 99% of the users._ == totally true.

Most of these proposals I'm pushing are about raising the scope for the 1%, or weirder, use cases. Which, let's be honest. we all have limited time and resources and attention: it makes perfect sense to not prioritize these.

Basically: I'm sick of maintaining my own postgres/angular1

[2020-07-09 17:39] jamesd35 commented on #390
My version of VHA seems to have no issue extracting mkv/flv/webm. However, ffmpeg is unable to generate thumbnails, etc for mts files.

Running this from windows command line (copied all of the args passed in to _spawn_ffmpeg_and_run_):

ffmpeg -ss 0.6 -i small.mts -frames 1 -q:v 2 -vf scale=w=512:h=288:force_original_aspect_ratio=decrease,pad=512:288:(ow-iw)/2:(oh-ih)/2 C:\\Users\\james\\Videos\\

[2020-07-09 17:42] #476 closed

[2020-07-09 18:01] whyboris commented on #477
Thank you for the idea. I'm very unfamiliar with how a plug-in system / 3rd party hooks would work. The biggest challenge would be for me to understand what users could even want to do -- because unless I have a clear picture of at least some examples, I wouldn't be able to provide anything useful as an API.

In short, this would be a very large undertaking for me and since I wouldn't be using the

[2020-07-09 18:09] whyboris commented on #477
I think I have a better idea of what you mean now that I think of it ... the `.vha2` (or `.json` as I referred to it above) wouldn't be updated by the external entity -- instead VHA would receive a message from the external entity about something changing somewhere. Is that right?

I have at best a very vague picture of how any of this would work (how could another language communicate to the app?

[2020-07-09 18:18] TheTacoScott commented on #477
Think even simpler than a plugin.

For the purposes of this issue let's just assume that a rest/json based web interface is what exists.
Let's assume that vha listens on a configurable port, for this discussion let's assume port 9999, and listening on 0.0.0.0.

Let's limit to one use case: an image thumbnail (on disk) has been updated outside of the program and we want to reload it in the interfac

[2020-07-09 18:21] TheTacoScott commented on #477
The benefit of something like this you don't need to know the exact use case, but you can expose a subset of the total feature set without having to worry about a way to make the gui work.

As of now the highest value targets would be a way to update the config file (vha2) and thumbnails/clips/filmstrips outside of the runtime and signal to the runtime that this has occurred.

[2020-07-09 18:22] whyboris commented on #477
Oh yeah! A server with an HTTP endpoint 😅  -- makes sense

[2020-07-09 18:22] TheTacoScott commented on #477
My usually style of markdown is getting clobbered here, but you get the idea. =)

[2020-07-09 18:24] TheTacoScott commented on #477
https://github.com/mpc-hc/mpc-hc is a good example of a video player (much much simpler than vha) but it has a web interface that exposes... basically all the buttons in the gui to be "clicked" via web calls.

[2020-07-09 18:25] TheTacoScott commented on #477
Now the benefit of this is: you don't really need to know the use cases. This is about letting others discovery what they can do. =)

Although specifically for me: I want the ability to signal to the app that a thumbnail has been updated, and that tags have been updated.

[2020-07-09 18:27] whyboris commented on #477
FYI: currently you can:
- select any of the extracted screenshots (ones seen in the filmstrip) to be the default thumbnail per video
- you can drag/drop any image file over any video (in thumbnails view) and it will become the default thumbnail for that video

[2020-07-09 18:29] TheTacoScott commented on #477
Figuring out a way to simulate a drag/drop was a path I went down, but sense this is electron and everything in the app isn't a classic windows "control" I abandoned that.

Picture a background process that is running, occasional;y updated thumbnails based on criteria not worth mentioning here. Having a way to have those updated without an up reload would be huge.

[2020-07-09 18:36] whyboris commented on #477
😉  makes sense

I wouldn't want the app to automatically run a server in the background, but I could see this as a feature that's present (but not enabled in production builds -- meant more for anyone who wants to tinker on their own).

So, we could have a global toggle in the `node` section that is `false` by default -- never turning on the server, but if a developer wants to tinker, they enable

[2020-07-09 18:37] whyboris commented on #477
@cal2195 -- I believe you've already played around with having some server stuff in _VHA_ in the past. If you're still interested in this topic -- please weigh in with some thoughts 🤝

[2020-07-09 18:40] TheTacoScott commented on #477
I haven't done angular since angular 1, and have not touched nodejs since like 2015 but I will attempt to tackle this as well.

If I dive into all these readmes and such I assume an otherwise reasonable person can get a dev env going?

[2020-07-09 18:40] whyboris commented on #477
A slightly different direction, but FYI:
https://github.com/whyboris/Video-Hub-App/compare/master...cal2195:express-server
I think this plays videos over a locally-running server 🤷

[2020-07-09 18:43] whyboris commented on #477
@TheTacoScott -- Angular has moved on since AngularJS -- so it may be easiest to treat it as if you're learning anew.

The good news is that once you `npm install` and `npm start` you'll have it all running.

Most of the functionality is in `home.component.ts`
To invalidate the cache (and re-read all the images on disk) run this line:
https://github.com/whyboris/Video-Hub-App/blob/master/src/app/c

[2020-07-09 18:44] TheTacoScott commented on #477
whyboris: Why can't more people be like you? Love it. =)

[2020-07-09 18:44] cal2195 commented on #477
Hey guys! 😄

This is certainly and interesting idea, and I think that an REST api is the way to go. As Boris mentioned, I have a working server on my fork for streaming (and even transcodeing) videos in-app, allowing for some cool extra features. 👍

Expanding on this to allow access to more features, and controlling the app would be very cool - triggering a rescan remotely for example would be ver

[2020-07-09 18:45] TheTacoScott commented on #477
cal2195: Why can't more people be like you? Love it. =)

[2020-07-09 18:47] cal2195 commented on #474
I've considered this before, and it could be quite a good option for very little cost. A collection of 100k videos means 300k files in total, which is not very nice to ever list in any sort of file manager! 😉

Assuming permissions allow (which they should as new videos need write permissions anyway) a simple "update" routine could easily move all the files into correct folders. An easy fix by just

[2020-07-09 18:48] TheTacoScott commented on #477
I think a web based resty/json like api makes a lot of senes (albeit I am very new to this project).

Proper modeling of the collections a resources to make it as discover-able and compliant as possible seems like a solid start after a POC is going

[2020-07-09 18:51] whyboris commented on #477
I'm open to this "server on the side" approach. I would prefer to focus on getting VHA 3.0.0 released first before getting this code into the codebase. I'm hoping for a release in a month or two. Until then we could work on it, it just wouldn't become part of the `master` branch (soon to be renamed to `main` btw) until version 3 is out.

So the basic idea is a web server at some URL that is able t

[2020-07-09 19:00] cal2195 commented on #477
I will dive in more deeply into this, and the other issues with ideas tomorrow morning - getting lateish here! 😄👍

[2020-07-09 19:14] TheTacoScott commented on #477
So assuming that added a server side resty thing in nodejs is on the light end of trivial I'm curious what @cal2195 and @whyboris think of as the high level collections and resources for vha?

Forgive the newness (and the names can change to better match whatever) but I currently view high level collections as: **Hubs** and **Videos**

Since vha is single hub only (iirc), hubs may not make sense a

[2020-07-09 19:36] whyboris commented on #390
Thank you for details! I'm unsure what can be done about it though ... with my limited understanding, `-ss` is for [seeking](https://trac.ffmpeg.org/wiki/Seeking) within a file -- to go to a particular location. So if we can't extract a screenshot from a particular location, we're out of luck with respect to what VHA aims to do 🤔

Would be great if someone who knows what could be happening helps o

[2020-07-09 20:54] TheTacoScott commented on #477
Working POC: https://github.com/whyboris/Video-Hub-App/pull/478/files

[2020-07-10 15:08] cal2195 commented on #475
I agree this would be a massive overhaul of the app - currently everything is loaded into RAM and modified in RAM, and then written back to disk when it's finished.

With a database, every lookup gets sent off individually, and you get a result returned. For smaller hubs (I'm thinking <50k videos), this would probably actually be slower. Pipes in VHA are incredibly fast given just how much data th

[2020-07-10 15:32] cal2195 commented on #463
Got you sorted: https://www.npmjs.com/package/natural-orderby

Geddit? 😅

[code]

[code]
https://jsfiddle.net/8xgtwL05/

[2020-07-10 15:33] cal2195 commented on #468
Will it retroactively regenerate all previously imported videos? 🤔

[2020-07-10 15:39] cal2195 commented on #474
Along with this, I think we should come up with a clean solution for upgrading any (at least somewhat recent) file version to a new version. I added the file version for this purpose:
https://github.com/whyboris/Video-Hub-App/blob/857924bf96bbfdc8c27ea86beec2e6364451a5f9/interfaces/final-object.interface.ts#L16

It should be pretty easy - just have a new function, that takes a file of version X, a

[2020-07-10 15:40] whyboris commented on #463
I love it!

ps - what's "Geddit"?  😅

[2020-07-10 15:43] whyboris commented on #468
I don't think it should. It will affect only new videos (I'll need to check it doesn't cause problems with different image heights). It will probably add all the missing clips if the user enables clips.

I don't see this as an important feature, but if it works well without much effort I'll add it.

If the user wants to re-generate all the images they could delete the contents of the "filmstrips"

[2020-07-10 16:11] jamesd35 commented on #390
A possible workaround could be to create a copy of the video under a different functional type (can do with ffmpeg), and extract the screenshots from the converted copy. And then delete the copy after screenshot extraction is complete.

Though this is a bit of a clunky/inefficient fix...

[2020-07-10 17:15] TheTacoScott commented on #475
Sqlite, or sqlite variants have in memory version of their db for small dbs which I imagine would be just as fast. BUT, ultimately this isn't about speed it is about raising the ceiling of "max videos" or for allowing "db on other host" as you mentioned.

A db access/updated at runtime also allows for more 3rd party interactions against said db, outside the runtime.

The server that does the work,

[2020-07-10 17:18] TheTacoScott commented on #474
Good ol' database evolutions coming to a vha2 file near you. =)

[2020-07-10 18:14] whyboris commented on #390
@jamesd35 -- could you send me a copy of the file for which the app is unable to create screenshots? You can use [WeTransfer](https://wetransfer.com/) to send large files: boris@videohubapp.com 🤝

[2020-07-10 18:23] whyboris commented on #474
Thanks again @cal2195 for implementing the vha file `version` number -- it makes the upgrade to version 3 nice and easy (though in theory I could have checked for presence of a particular field - its absence would have indicated older version). But it's nice and clean - and you're the one that made it that way 🙇 🤝 😁  Cheers!

[2020-07-10 18:43] whyboris commented on #475
From my brief look into it, it seems like the theoretical limit for arrays is 4.2 billion items. @TheTacoScott -- you said you have about 1.4 million videos -- have you tried running them (or a subset of them) through the app? I'm curious if you've witnessed some sluggishness.

I was never planning on taking the app in the _Plex_ direction -- hosting anything non-locally. I think currently you cou

[2020-07-10 19:09] TheTacoScott commented on #475
I am in the process of creating a vha2 file that has everything it needs and will report back on the performance. It'll end up being about 90M total tags, so I can report on search perf as well.

[2020-07-10 19:11] TheTacoScott commented on #475
Also: I totally get it. I'm not a pushy guy about anything here. I can learn and code this all myself and PR it if I had the time. =)

We're both fighting the same battle of not having enough time to tackle the lower priority things. =)

[2020-07-10 21:06] jamesd35 commented on #390
Sent you the files

[2020-07-10 21:16] whyboris commented on #390
Thank you! Received 👍

[2020-07-11 15:51] sezalmittal987 commented on #471
#481

[2020-07-11 18:09] sezalmittal987 commented on #470
Can i work on this?

[2020-07-11 23:55] whyboris commented on #470
Awesome! Please let me know if you have any trouble with it 👍

[2020-07-12 05:23] sezalmittal987 commented on #470
Okay Thanks!

[2020-07-13 15:37] sezalmittal987 commented on #470
i think video is playing from starting even in thumbnails view ....

[2020-07-13 16:39] whyboris commented on #470
There is an option in the settings to play a video from the screenshot clicked; you'll also have to manually point the app (in the settings right next to the other button) to the location of the video player you want to use (only 3 video players officially supported).

Please let me know if you have trouble with that 🤝

[2020-07-14 05:43] sezalmittal987 commented on #470
Oh ya , I see

[2020-07-14 13:39] TheTacoScott commented on #446
Only suggestion for an addition here is: make the same button become "deselect all" once it has selected all, and maybe have the button have the format of "deselect all (<number_of_videos_selected>)" so we have a better understanding.

[2020-07-14 13:42] TheTacoScott commented on #446
You can see an example of the poc I did for this here: https://github.com/whyboris/Video-Hub-App/pull/482

although I'm not leveled up enough with angular to know how to pass down/bubble up the selected count to the right scope, but that's a solvable problem.

Also, I have tweaked the css to make the buttons look reasonable BUT they should probably be put in their own dive and made inline-block. B

[2020-07-14 13:44] whyboris commented on #446
Currently the `deselect all` can be accomplished by toggling the `batch mode` off.
I'm unsure about cramming too many buttons into the menu, but maybe `deselect all` is a worthwhile addition 🤔 thank you!
I especially like the "number selected" indicator 😁

[2020-07-14 13:56] whyboris commented on #446
Thank you for the PR! I'll try to get to it this weekend 😁
No worries about CSS -- I'll get it to look harmonious with the rest of the app (according to my sometimes-picky preferences 😅 )

[2020-07-15 00:08] whyboris commented on #472
🚀 going to be in VHA 3 🎉
Getting done here: #483

[2020-07-18 23:54] hrhan commented on #459
Hi @whyboris can I take this one if it's still available? :)

[2020-07-19 01:53] whyboris commented on #459
Hey @hrhan -- awesome that you're interested in implementing this 🎉

Please feel free to reach out with questions or if you have any trouble with the code 👍

If you have no strong preference, please consider basing your PR off the `video-hub-app-3` - though it's fine if you work off `master` too 🤝

Cheers 😊

[2020-07-19 04:42] hrhan commented on #459
Great, thank you! I'll go ahead with the `video-hub-app-3` branch as the base then.

[2020-07-20 06:14] HerrRobo commented on #463
Hello, is this issue still open?
If so, I'd like to help out - first timer here!

[2020-07-20 06:15] jamesd35 commented on #390
@whyboris Were you able to replicate the mts issue?

[2020-07-20 12:58] whyboris commented on #463
Hello @HerrRobo -- thank you for your interest 😁

Please feel free to give this a try and reach out if you ever have trouble or questions.

Are you also thinking of using the `natural-orderby` package to simplify the task?

Cheers 🤝

[2020-07-20 12:59] whyboris commented on #390
Sorry didn't get to test your files -- was focusing on VHA3 work still -- will try tonight ✅

[2020-07-21 02:16] whyboris commented on #390
@jamesd35 -- I replicated the issue:

![image](https://user-images.githubusercontent.com/17264277/88005054-62587d80-cad6-11ea-98ed-dc9460ebbb51.png)

Two videos you sent do not have screenshots (even though the length was correctly determined).

I'll console.log the screen extraction process to see what may be going wrong 🤞

[2020-07-21 03:29] hrhan commented on #459
Hi, here's what I have so far:
- added the call to `app.addRecentDocument() ` inside `openThisDamnFile()`
- modified `clearRecentlyViewedHistory()` to send a message to ipcMain which will then call `app.clearRecentDocuments()`

I think recent documents list should work in mac now. (but I don't have a mac to test with 😅)
It turns out windows 10 is not suitable for testing this feature as it seems t

[2020-07-21 05:43] hrhan commented on #459
I found a bug on windows that if you try to open a vha2 file while the app is already running, it throws an error saying "File not found: --allow-file-access-from-files". This seems to happen because when `second-instance` fires, `argv` actually contains the file path as the last item and the option `--allow-file-access-from-files` as the second item. I'm using Windows 10 and not sure if this is t

[2020-07-21 13:15] whyboris commented on #459
Thank you @hrhan 🎉

Could you submit a pull request with your changes? I have both Windows 10 and Mac so I could test and see how it works.

Great catch on the Mac bug! The "openThisDamnFile" function has been around since version 1 of the app - named so because of the frustration I had getting VHA to run as a single instance _and_ open the files users would click 😅

I've not revisited that functi

[2020-07-21 14:52] TheTacoScott opened #484 "Add the ability to relocate/move files in a hub"
Seems like it could be an extension of the rename modal, or a new "relocate/move" file modal.

[2020-07-21 19:52] HerrRobo commented on #463
Sounds great, thanks!
Yep, my current approach is to look at natural-orderby that cal2195 suggested, which I believe would be used primarily in the sorting pipe class.

If this ends up being the approach accepted, the natural-orderby package would be a new dependency added to the project as well - obvious, but just a heads up anyway 😁

[2020-07-21 23:35] whyboris commented on #484
I suspect some users would like this ability, but creating the UI for it would be challenging.

I wouldn't want the moving to ever be accidental, so I'd recommend a "move" mode -- much like the "batch tagging" mode. One option would be to have some sort of a drawer on the left-hand side with the list of all the folders so you could drop the files there.

This will become a little more intricate wi

[2020-07-22 02:56] hrhan commented on #459
Oh awesome! It would be great if you could tell me if the new feature works in mac :)

And yeah, I totally understand your frustration when it comes to file I/O's. I was surprised to see this "file not found" error, but at least it's fixed on my end. Hopefully it doesn't happen for other people as well.

It seems like I can't submit a pull request for each commit after I pushed them 🤦.
I hope it's

[2020-07-22 15:51] TheTacoScott commented on #484
I think you can largely punt on the dialog consideration if you use electrons native dialog functionality.

https://www.electronjs.org/docs/api/dialog

[2020-07-22 16:01] whyboris commented on #484
That's an interesting idea, but as far as I can tell it will be rather tedious to use the OS-based navigation, especially that it would allow users to move videos outside where their hub is based 🤔

My thinking is the most-intuitive approach is drag & drop -- hence the idea of a sidebar with all the folders present in the current hub 🤔 open to suggestions of course 👂

[2020-07-26 05:50] walstonjd commented on #470
can I work on this?

[2020-07-26 15:08] whyboris commented on #470
Hello @walstonjd -- thank you for the offer!

@sezalmittal987 -- are you thinking of calling dibs on this or are you ok with letting @walstonjd take this task? I see you've finished the _Double-Click_ (#481) PR. It doesn't look like you've started on this one yet 👌

I'm happy either way (with either of you two doing this) 🤝 really grateful for all the help 😊

[2020-07-26 15:44] whyboris opened #486 "Disable all Mac menu bar options"
At some point Electron updated and now we see all sorts of silly stuff:

![image](https://user-images.githubusercontent.com/17264277/88483364-5553e800-cf35-11ea-9d65-76f17abaf1dd.png)

Let's remove everything (e.g. "File", "Edit", "View", ...)  other than "Video Hub App 2" 👍

[2020-07-26 16:43] whyboris commented on #472
Fixed with #483 -- will be part of VHA 3.0.0 😎

[2020-07-26 16:43] #472 closed

[2020-07-26 16:58] whyboris commented on #401
Thank you @jamesd35 for fixing this 🙇 🤝 🏅

[2020-07-26 16:58] #401 closed

[2020-07-26 17:13] whyboris commented on #446
Thank you @jamesd35 for the feature addition #446 🙇 🎉 🤝 🦾

Cheers 👋

[2020-07-26 17:13] #446 closed

[2020-07-26 17:35] whyboris commented on #471
Thank you @sezalmittal987 for the excellent contribution 🎉 🙇 🤝 #481

😁 it's awesome 💯

[2020-07-26 17:35] #471 closed

[2020-07-26 18:19] whyboris commented on #459
Thank you @hrhan for the feature addition 🙇 #485

[2020-07-26 18:19] #459 closed

[2020-07-26 18:33] sezalmittal987 commented on #470
i really want to work on this issue but it is not working even in vlc media player.is there any player where it works?

[2020-07-26 19:22] whyboris commented on #470
I only use [Media Player Classic: Black Edition](https://sourceforge.net/projects/mpcbe/) though when I was adding this feature I tried it out on VLC and POT players as well (perhaps VLC changed its API 🤷 )

[2020-07-26 20:22] whyboris commented on #456
I renamed `master` to `main` and merged in #443 😅 maybe the largest PR ever 🎉

Now it's time to clean things up, add a few minor features (closing the various small issues remaining) and get 3.0.0 released 🎉 🤞

There's still leftover things to do -- at least a month or two of work:
- [ ] implement Cal's [blocks](https://github.com/whyboris/Video-Hub-App/pull/432#issuecomment-634632286) idea
- [ ]

[2020-07-26 20:47] whyboris commented on #456
Also, the release is *blocked* by a problem with scanning remote directories:
https://github.com/paulmillr/chokidar/issues/895 😓
I've identified the problem in `chokidar` and proposed a solution -- I hope it will get resolved 🤞

[2020-07-26 20:56] whyboris commented on #486
Fixed with https://github.com/whyboris/Video-Hub-App/commit/4fa6c681ed93ffc78d16813b6a7bdcf7b3dfb871 😎

[2020-07-26 20:56] #486 closed

[2020-07-26 22:58] whyboris commented on #296
In version `3.0.0` we'll have the ability to add more than one folder to a hub. I think that is a satisfactory solution to the feature request.

Please feel free to comment or open a new issue if you think this is still worth addressing in another way 🤝

[2020-07-26 22:58] #296 closed

[2020-07-26 23:03] whyboris commented on #313
There were great ideas in this discussion. I will remember the suggestions. I'm closing it as I'm trying to clean things up for VHA `3.0.0` release 😅

We now have batch tagging as well as drag&drop. With 3.0.0 we'll have "select all shown" button that will select all the currently-found videos (based off search or folder navigation).

Please feel free to open up a new Issue or comment on this one

[2020-07-26 23:03] #313 closed

[2020-07-26 23:06] whyboris commented on #178
I figured out a way to import OS-X tags on first scan. I'll try to get this PR #370 merged before VHA `3.0.0` is released 🎉

[2020-07-26 23:06] #178 closed

[2020-07-26 23:06] whyboris commented on #316
I figured out a way to import OS-X tags on first scan. I'll try to get this PR #370 merged before VHA `3.0.0` is released 🎉

[2020-07-26 23:06] #316 closed

[2020-07-26 23:09] whyboris commented on #369
@cal2195 -- thanks to your PR (❤️) with `chokidar` I believe the issues has been solved, right? 😁

Please reopen if that's not quite correct 😅

[2020-07-26 23:09] #369 closed

[2020-07-26 23:11] whyboris commented on #373
@cal2195 thank you so much for your #383 🙇 I believe this issue has been solved 🎉

Please let me know if that's not the case 😅

[2020-07-26 23:11] #373 closed

[2020-07-26 23:12] whyboris commented on #389
Solved with @cal2195 's awesome work: #383 🙇 💪 🎉 😁 🏅 🎖️ 🥇 🥈 🥉

[2020-07-26 23:12] #389 closed

[2020-07-26 23:15] whyboris commented on #435
@martincaron -- I've finally merged #443 🎉

Are you interested in adding this feature yourself or would you like me to do it? I'm happy either way 😊

[2020-07-26 23:16] whyboris commented on #441
@martincaron -- I finally merged #443 😅 -- would you like to add this code yourself?

Cheers 👋

[2020-07-26 23:17] whyboris commented on #433
I believe since we allow users to select 'All Files' now, the issue can be closed.

Please reopen if this issue still persists 🤝

[2020-07-26 23:17] #433 closed

[2020-07-26 23:19] whyboris commented on #395
I'm closing this issue as there doesn't seem to be more interest in it.

Please feel free to comment / reopen / open a new issue if you'd like 👌

[2020-07-26 23:19] #395 closed

[2020-07-26 23:20] whyboris commented on #426
👋 hello @martincaron -- the huge #443 finally landed 😅

Let me know if you'd like to fix this issue 😁

[2020-07-26 23:21] whyboris commented on #397
Closing this issue as I think we have a working solution ✅

Please feel free to comment if you'd like 👍

[2020-07-26 23:21] #397 closed

[2020-07-26 23:21] whyboris commented on #434
Oh sweet! Turns out this is fixed 😁

Thank you @martincaron for the fix 🙇

[2020-07-26 23:21] #434 closed

[2020-07-26 23:23] whyboris commented on #420
Hey @altynbeq -- please let me know if you're still interested in trying out this issue 👍

I didn't add a `good first issue` tag because I'm unsure if it's "newbie friendly" 😅

No matter who decides to work on it I'm very happy to help along 🤝

[2020-07-26 23:27] whyboris commented on #445
Hey @frez777 -- let me know if you'd like me to help you with anything.

If you no longer have the time for this, no worries. If you're willing to share your code. please open a PR (pull request) with the changes you've made -- don't even worry if there are merge conflicts or remaining bugs 👌 I can finish things off. It's easier to finish what you started than to do everything from scratch 🤝

Chee

[2020-07-26 23:28] whyboris commented on #450
VHA `3.0.0` will have multiple 'input' / 'source' folders so I'm closing this issue.

Please feel free to comment / create a new issue if you think it's still worthwhile trying to get the "exclude" to work.

ps - it might be a bit tricky to get "exclude" to work 😅

[2020-07-26 23:39] whyboris commented on #469
Hello @litelime -- I'm sorry I completely missed this issue! 😱

Thank you for describing what you're doing to cause _Issue 1_: you have a file "video.mp4" which you re-render with a video editor, so the "video.mp4" is now a different video than the original, but the app can't tell.

I think re-scanning makes sense, though I'm unsure how common this problem is. As far as I can think (at the moment)

[2020-07-27 21:03] TheTacoScott commented on #484
Drag and drop would certainly be nice, but OS based "folder select" style file moving doesn't, in and of itself, allow moving of files outside the hub.

Suppose you use dialog.showOpenDialogSync().

That function returns the file path chosen by the user. The moving of the file itself can still have sanity checks that prevent moving outside of hub if that's a restriction you want.

[2020-07-27 21:14] whyboris commented on #484
I may be misunderstanding what the OS based "folder select" you mean. I understood it to be the familiar OS dialog that you get, _the same one_ as when you initially select "input folder" when creating a hub.

Is this what you mean?

The problem I see with this dialog box is that it is tedious and cumbersome - requiring a lot of clicks 😓

[2020-07-30 00:37] CrendKing opened #489 "Some problems with paths in the latest main branch"
1. Now the package name from package.json is already "video-hub-app-3". But the settings directory is still "video-hub-app-2" in [main.ts](https://github.com/whyboris/Video-Hub-App/blob/28b304c1fb9dc9f0d58bf213436cf075e1697b99/main.ts#L31):
[code]
2. I see you added the portable variable around 3 days ago. I like the idea, but the triggering environment variable name is `PORTABLE_EXECUTABLE_DIR`?

[2020-07-30 04:40] CrendKing commented on #489
Here is the values of `playlist` and `sourceFolderMap` from `createDotPlsFile()`:
[code]
The problematic line is
[code]
I don't think you can access `sourceFolderMap[i]`. There should be an inner loop or something. For reference, the previous code is
`GLOBALS.selectedSourceFolders[0].path,`

[2020-07-30 18:17] whyboris commented on #489
Thank you for starting the Issue. I merged in the `video-hub-app-3` branch into `main` somewhat prematurely -- containing bugs. But I preferred that option over having to constantly reconcile all PRs against the unmerged branch.

I suspect there may be some other problems that will need fixing.

One space I suspect to have trouble is the index `i` (in other parts of the code) because I wanted it t

[2020-07-30 18:22] whyboris commented on #489
The `PORTABLE_EXECUTABLE_DIR` is a recent addition to the code #461 to address the "Storing portable app settings near the executable" -- and it seems to be specific to `electron-builder` ... I didn't get a chance to test this change before merging.

[2020-07-31 00:44] CrendKing commented on #489
No. The problem is not type mismatch. The two arrays are irrelevant to each other. There is not any index or key that links them. For instance, in my previous example, I have 100 videos in the view, but only one source folder (`C:\Video`). Whenever `i` goes beyond 0, there will be exception.

What I'm suggesting is to have code like this:
[code]
`isItemInFolder()` is needed for the support of mult

[2020-07-31 13:55] whyboris commented on #489
Thanks for looking more into the playlist thing -- I've not thought about that code much; I don't thine I ever even tested it -- just slapped something together when I was upgrading the whole app to allow more than one source folder and moved on (my biggest aim then was to get the core functionality to work, with intent to fix things later ... now is that time 😝 😅 ).

Please feel free to open a PR

[2020-08-01 00:14] CrendKing commented on #489
Is electron-builder not by Electron guys or Google? I have no idea. I've never done anything about node.js before.

[2020-08-03 15:32] whyboris commented on #456
I have a PR that may fix the problem with network folders 🤞 https://github.com/paulmillr/chokidar/pull/1025

[2020-08-06 10:23] tjack88 opened #492 "Suggestion: Add star ratings features"
Could be a useful feature I think

[2020-08-06 18:54] whyboris commented on #492
Already exists ✅ 😎
You can enable "sort by number of stars" and you can toggle in the sidebar "filter by number of stars" and you can add/remove stars by going to the _Details view_ 👍

[2020-08-06 18:54] #492 closed

[2020-08-06 18:56] tjack88 commented on #492
Thank you!

[2020-08-07 17:59] sezalmittal987 commented on #470
Not getting anything, sorry. @walstonjd  can take this task

[2020-08-08 06:41] Tundeh commented on #463
is this issue still open? If yes, i would like to take it.

[2020-08-08 22:04] orkomlosh commented on #470
Hey, if no one is taking this, i'll be glad to work on this.

[2020-08-08 22:44] orkomlosh commented on #435
Hi, if needed I can work on this and on #441  since it's related

[2020-08-09 20:27] orkomlosh commented on #426
can also take that one, waiting for approval

[2020-08-09 23:07] whyboris commented on #470
Thank you @orkomlosh for the successful fix 🙇 with #493 🎉

[2020-08-09 23:07] #470 closed

[2020-08-09 23:10] whyboris commented on #426
Hey @orkomlosh -- thank you for your contributions 😁

Please feel free to feed two birds with one scone 😉 by adding changes for this in your already-open PR #494 -- or as a separate PR -- whichever is most convenient for you 🤝

[2020-08-10 13:15] orkomlosh commented on #463
hey, let me know if you need help here, I can try and take it

[2020-08-10 14:04] whyboris commented on #463
@HerrRobo -- would you prefer to keep working on it or are you OK with @orkomlosh taking it? I glanced at your fork of VHA and don't yet see a branch for this issue 🤔 please let us know 👍

[2020-08-10 14:33] orkomlosh commented on #445
can also try help with this

[2020-08-10 14:39] whyboris commented on #445
@orkomlosh -- thanks for the offer!
@frez777 -- let us know here if you still prefer to finish fixing this issue 👍 else, @orkomlosh feel free to take it on 🤝

[2020-08-10 14:45] whyboris commented on #435
Thank you @orkomlosh for the fix #494 🎉

[2020-08-10 14:45] #435 closed

[2020-08-10 14:45] whyboris commented on #426
Thank you @orkomlosh for the fix #494 🎉

[2020-08-10 14:45] #426 closed

[2020-08-10 14:45] whyboris commented on #441
Thank you @orkomlosh for the fix #494 🎉

[2020-08-10 14:45] #441 closed

[2020-08-10 15:33] orkomlosh commented on #355
Is it still happenning?
I can take a look.

Btw @whyboris i want to help with new features. Or more complicated issues.
Let me know if you want, and how we can collaborate on that.

[2020-08-10 16:10] whyboris commented on #355
Hey @orkomlosh -- thank you again for your previous contributions 😁

Feel free to take anything that you find interesting! The other issues you commented on where others have called dibs but haven't done anything in over 2 weeks I think are free for the taking too 🤔

Last week I took a work vacation (staycation) was hoping to do some work on VHA but had a 4-day power outage due to a storm 😅 read s

[2020-08-10 16:40] orkomlosh commented on #355
Thanks,
It's a great product with very interesting architecture and tech.
Very happy to get across it, and that you are welcoming new contributors with such nice vibe.

I will need to dive deep in to it, in order to understand it better.
Angular is something i'm partly doing on my day job. And node i knew from automation dev so it's a little bit different.
I'll try to take some more of the opened

[2020-08-10 17:24] whyboris commented on #355
I'm happy to answer questions. As you look through code, keep in mind my implementation can be improved in many places (I'm sure) -- I started the app just months after I started learning Angular and I haven't had much node experience (other than some server work at my job - which had no file system interaction).

If you see something that you think can be better -- feel free to add a fix, or star

[2020-08-10 17:35] whyboris commented on #355
I'm happy to answer questions. As you look through code, keep in mind my implementation can be improved in many places (I'm sure) -- I started the app just months after I started learning Angular and I haven't had much node experience (other than some server work at my job - which had no file system interaction).

If you see something that you think can be better -- feel free to add a fix, or star

[2020-08-10 18:16] orkomlosh commented on #355
thanks for the short overview it's very helpful.
i'll try to continue with the small bugs and issues for now.
and will continue to learn as I go
BTW pretty impressive road you got there!

Good luck!

[2020-08-10 19:32] whyboris opened #495 "Promoting the app 😅"
I'm thrilled 🎉  and honored 🙇 that this app is becoming popular.

I don't promote it much other than the occasional post on _Reddit_ 😓

If anyone has interest or just has ideas for sharing this app so more people find out, I will be grateful 🤝

I'm really grateful that others have shared it:
- [NKJ11](http://nkj2011.blog.fc2.com/blog-entry-599.html) "a great video launcher" (動画ランチャーとして秀逸です)
- [Gig

[2020-08-10 19:32] whyboris opened #496 "Promoting the app"
I'm thrilled 🎉  and honored 🙇 that this app is becoming popular.

I don't promote it much other than the occasional post on _Reddit_ 😓

If anyone has interest or just has ideas for sharing this app so more people find out, I will be grateful 🤝

I'm really grateful that others have shared it:
- [NKJ11](http://nkj2011.blog.fc2.com/blog-entry-599.html) "a great video launcher" (動画ランチャーとして秀逸です)
- [Gig

[2020-08-10 20:59] HerrRobo commented on #463
@whyboris Hello, sorry for the delay here. My fork has been updated and now contains a new branch which includes the natural-orderBy dependency. The results from sorting numbers naturally Alphabetically ascending/descending appears to work as intended, but I am unsure if the rest of my sorted test files are being sorted correctly from this approach. I need a deeper understanding into natural order

[2020-08-10 21:12] orkomlosh commented on #463
@HerrRobo thanks! i'll try to see if i can get to it also.
I went through your branch, it seems ok,
you just meant that you want to test it with more test files and naming? to see if it really fixed it?

[2020-08-10 21:12] whyboris commented on #463
Thanks @HerrRobo for the update and your work 🙇
Looking at it: https://github.com/whyboris/Video-Hub-App/compare/main...HerrRobo:sort-files-with-numbers
It seems like all that would be needed 🤔

[2020-08-10 21:48] whyboris commented on #321
🎉 Version 3 does not prompt the user when the folder is not connected -- it simply adds a little indicator on each video file indicating the file is not accessible 😎

[2020-08-10 21:48] #321 closed

[2020-08-10 21:56] orkomlosh commented on #321
hmm, i've been looking on this, and if the folder is not exist (or to be more accurate the VHA file) we still get this error msg
![image](https://user-images.githubusercontent.com/28383674/89835420-70496d80-db6d-11ea-8b28-d69f77caa81e.png)
and than we get this crash:
![image](https://user-images.githubusercontent.com/28383674/89835455-80614d00-db6d-11ea-94a0-0cc93e414f4b.png)

[2020-08-10 22:02] whyboris commented on #321
Thank you for sharing! The original issue was for something else, but an `Electron has stopped working` is a problem 👀

The first screenshot shows an error message that makes sense -- when you delete the last-opened .vha2 file and open VHA it will complain. Perhaps rather than showing this error message the app could gracefully show the _Wizard_ screen instead 🤔

When I click `OK` the app doesn't

[2020-08-10 22:07] #355 closed

[2020-08-10 22:12] orkomlosh commented on #321
yeah i understand,
the way i got the issue:

1. open app
2. create hub
3. close app
4. rename/delete folder of the hub
5. open app
6. i got the error msg which is fine and than the crash,

i guess it's possible that it's only happens in dev mode (npm start). i'm working on windows.
if' it's not happening in production than i guess it's not interesting.

if it happens i got some kind of a solution.

[2020-08-10 22:23] whyboris commented on #321
Odd -- unable to reproduce (Windows 10) even with `npm start` 🤔  -- the app doesn't crash for me, just looks frozen, but if you click inside (or interact with the app, like moving the window) it will fade out into the _Wizard_ screen.

It's an edge case and I'm fine with letting it linger around -- there are bigger bugs to fix 😅

Of course -- feel free to work on any part of the app 👌 if this bug

[2020-08-10 22:33] orkomlosh commented on #321
great, BTW what are you saying about maybe using Toasts, notifications or dialogs from the angular side and not the electron?
maybe using something like this https://github.com/scttcper/ngx-toastr
or any other libraries out there. maybe even create our own.
and than we can send the msg through the IPC and show the dialog.

[2020-08-10 22:59] whyboris commented on #321
I like the idea of a nicer notification than a system popup. I'm using a self-created one already to indicate when a folder is not connected (when you click on a video with a yellow 🟡 circle in top-left corner). I send notifications (`showMessageBox`) for when renaming a file fails for some reason. The `file not found` and `hub name already exists, please rename` messages are the only two that are

[2020-08-11 07:40] orkomlosh commented on #321
If you want i can try and implement a dialog for messaging, notifications etc.
of course i will do it as a POC on a side branch for you to review.
The question i have about it, is how you want me to implement this:

- I can use modal and implement it with CSS and HTML.
- I can use Material library which has a great implementation for dialogs.
   https://material.angular.io/components/dialog/overvi

[2020-08-11 16:03] whyboris commented on #321
Thanks!
 - I think you're right that an in-app notification (rather than a system popup) is a better UX (user experience)
 - Since we're using Electron, bundle size doesn't matter and we can load up additional libraries at virtually no cost
 - _Material library_ you link to has a great implementation for dialogs 👍 👍

I can style things a bit if the default look doesn't mesh well with my current de

[2020-08-11 16:33] orkomlosh commented on #321
Nice!
I want to close more bugs for you to release on 8.3, and than i'll take this POC!
Thanks!

[2020-08-11 22:12] orkomlosh commented on #321
hey, @whyboris  i started working on this POC very quick,
this is the basic implementation, i will make it look better soon.
this is of course just a mock to see how it works. what do you think?
![image](https://user-images.githubusercontent.com/28383674/89953950-c9ca9e80-dc38-11ea-808c-20dbc95d3149.png)

[2020-08-12 05:34] orkomlosh commented on #321
implemented in no such file found
![image](https://user-images.githubusercontent.com/28383674/89978562-7b3bf500-dc76-11ea-9d2c-577bfc3c6b2c.png)

[2020-08-12 05:46] orkomlosh commented on #321
I committed and pushed the changes to my branch
https://github.com/orkomlosh/Video-Hub-App/tree/mat_dialog_poc
i'll continue working on it, let me know what you think

[2020-08-12 11:27] whyboris commented on #321
Looks great 🤩

[2020-08-12 11:37] whyboris commented on #321
The more I look at it and the more I think about this approach to user messaging, the more I love it!

I've always been upset at programs that give you system message that locks up the app. I bet users sometimes don't notice the system message and get confused by why the app is no longer responding to anything they do (I've seen my dad get stuck like that with Photoshop 😅 ).

Having an in-app mess

[2020-08-13 23:45] whyboris commented on #484
I'm liking the idea of letting users move videos more and more - as I think about it.

Of course this would be a large-ish undertaking and I'm unsure if there's a nice way to break up the work across people, so I'll likely do at least most of it.

This would be after `3.0.0` is released ... I'm not promising anything, but I'll give it a go 🤔

[2020-08-14 13:29] orkomlosh commented on #321
Hey, @whyboris , i got stuck on an issue.
can you take a look maybe?
https://github.com/whyboris/Video-Hub-App/commit/3035618baf0ee20fe27ac00fca4a2b28417497a9

i think it's something related to changeDetection. i can see in debug that the dialog is opened and i can see it on screen.
but the text inside is is not rendered until i press keyboard or mouse.
i tried many techniques to fix this. but wit

[2020-08-14 13:34] whyboris commented on #321
You could wrap the `detectChanges()` inside a `setTimeout(() => { detectChanges(); })` -- it's hack, but I think it should work 👍

[2020-08-14 14:06] orkomlosh commented on #321
I tried it, and got the same outcome.
i'm trying to figure this out since Tuesday 😞.
maybe I'll take something else, and get back to it later.

[2020-08-14 15:34] whyboris commented on #321
I could borrow the branch and give it a try 🤝
I'll give it a go today after work 😁

[2020-08-14 21:24] orkomlosh commented on #365
_Add setting: Folder view show random screenshots rather than first 4.
I don't want to set random without an option to disable: some users might find it unpleasant to see folder thumbnails change every time they navigate_

so I implemented this ⬆️  . see PR #502

I implemented it in the folder pipe an added it to the settings + Icon.
tell me what you think.

[2020-08-15 04:06] whyboris opened #504 "Remember preferred number of screenshots and size in wizard"
It's very likely users who create many hubs have preferred settings. We may as well remember those.

Remember in the _Wizard_:
- preferred number of screenshots
- whether screenshots per video or per time interval
- screenshot size

[2020-08-15 21:53] whyboris commented on #365
Thank you @orkomlosh for adding the "Random screenshot in folder" feature 🙇 🤝 😁  #502 🚀

[2020-08-15 22:41] #312 closed

[2020-08-15 22:41] whyboris commented on #312
Closing as I suspect this has been solved. Please feel free to comment or create a new issue as needed 🤝

[2020-08-15 22:44] whyboris commented on #91
Thank you to @orkomlosh for the addition of #503 (Modal instead of system mesage) 🙌  -- this makes adding a nice welcome message a breeze 😁

I'll add a dummy welcome message for now and then fill it in with images and descriptions for how to use the app before release (as well as a button to view the welcome message in case someone wants to).

Cheers everyone 👋

[2020-08-15 23:23] whyboris commented on #396
I'm closing this issue as I'm not intending to implement it into the app.

Please feel free to reach out if you'd like a hand with adding this feature to your own build of the app 👍

[2020-08-15 23:23] #396 closed

[2020-08-15 23:24] whyboris commented on #439
There doesn't seem to be much interest in this. I'm closing the issue.

Please feel free to comment / open a new issue if you think it's worth having 👍

[2020-08-15 23:24] #439 closed

[2020-08-15 23:27] whyboris commented on #314
I'm closing this issue as I don't know how I could help with it and the discussion has dried up.

Perhaps with all the _Electron_ updates since the issue was opened, the app works on Linux again 😅 🤞  -- it certainly worked on _Ubuntu_ when I built the _AppImage_ and installed it 🤷‍♂️

Please feel free to comment or open a new issue 🤝

[2020-08-15 23:27] #314 closed

[2020-08-15 23:28] whyboris commented on #291
Closing as part of the `3.0.0` pre-release cleanup 😅

Please feel free to comment or open a new issue in the future 👍

[2020-08-15 23:28] #291 closed

[2020-08-15 23:31] whyboris commented on #12
I've added this feature -- in the settings at the bottom, you can now click on "check for new version" to see if a new version is available.

Currently it's a very simple API call to https://my.videohubapp.com/version.php -- and if the string is different, the app claims "new version available" 😅

I'd rather not make the check automatic 🤷

[2020-08-15 23:31] #12 closed

[2020-08-15 23:32] whyboris commented on #477
Related: #161 😊

[2020-08-15 23:32] whyboris commented on #161
Related: #477 😊

[2020-08-15 23:34] whyboris commented on #445
@orkomlosh -- if you're still interested in this (if you'll enjoy adding this feature) please feel free to take it 👌 👍 🤝

[2020-08-15 23:36] whyboris commented on #456
Reminder to self:
- [ ] The sort filter shows "Default" on start-up even though it might be displaying a different sort order 😅 - must fix ⚠️

[2020-08-15 23:39] whyboris commented on #469
@litelime -- please feel free to comment below or open a new issue 👍

I'm closing it as I think my response has addressed it and I'm trying to clean up the _Issues_ board before releasing `3.0.0` 🚀

[2020-08-15 23:39] #469 closed

[2020-08-15 23:56] whyboris commented on #456
Possible *TODO*: https://github.com/whyboris/Video-Hub-App/issues/355#issuecomment-671490094 <-- some items on this list

[2020-08-16 04:54] 68cdrBxM8YdoJ opened #506 "Automatically use an image of the same name as the video as a thumbnail"
I see that I can manually specify the thumbnail image, but can I do it automatically?

[code]

[2020-08-16 05:43] orkomlosh commented on #445
Sure no problem, just to understand what to implement.
I can see in this thread 2 options that are not completely related:
1. add option in settings to add list of extensions.
2. add option in settings to skip extension check.

I can try and add both, just wondered what you prefer.

[2020-08-16 06:17] orkomlosh commented on #456
**so we won't get confused this item was already done:**
_The HTML & CSS for the layout is rather hack-y, but it works well enough for now. One UI (user interface) problem I'm facing is the import indicator (doughnut progress bar on top-right). It stays even when the top ribbon (with folder & file name) gets collapsed, thus overlapping with the settings button (the gear). I'm unsure how to handle

[2020-08-16 14:21] whyboris commented on #445
Thank you! 🙌

I think (1) is the only option we'd want: just an input field with a comma-separated list of extensions (without periods), e.g.
[code]
Do let me know if you think there are scenarios where (2) is likely. My best guess as of now is there is, for a very few users, some obscure specific file format that they'd like and the app skips it. Disabling all checks would pollute the app view wi

[2020-08-16 14:27] whyboris commented on #456
Thanks for that fix again @orkomlosh 😁 -- I'm adding a short summary of https://github.com/whyboris/Video-Hub-App/issues/355#issuecomment-671490094

- [ ] move the ImageElement[] to a dedicated service
- [ ] update children components to update a video properties, no need to emit and communicate back to `home.component`
- [x] import indicator (doughnut progress bar on top-right) should hide when t

[2020-08-16 18:06] whyboris commented on #506
Interesting idea.  I wonder how common it is for people to have such a setup. My guess it's very uncommon 🤔 🤷‍♂️ ... perhaps some people have `cover.jpg` file name instead 💭 I'm really unsure.

If you'd like I can help you code the changes so you could build your own version of the app 🤝

I'm unsure whether I'd want the feature to be a part of the app - I'm sort-of on the border. Would love to hea

[2020-08-16 20:51] LordJon commented on #506
Interesting idea but I agree that multiple people probably use different kinds of formats (yay multiple standards).
The format I'm using is a folder with the movie file in it, an information file (NFO), a trailer, a poster (like a DVD case front) and a background image (fanart). There's also 2 subfolders for thumbnails and backgrounds (fanart).
It looks a bit like this:

extrafanart
├── fanart0.jp

[2020-08-16 22:31] #91 closed

[2020-08-18 02:06] 68cdrBxM8YdoJ commented on #506
Thanks for the reply.
It certainly doesn't seem to be an easy solution, as different people manage their cover images differently.
I'll make a fork that is suitable for me :smirk:.

[2020-08-18 13:22] whyboris commented on #506
Do let me know if you'd like me to point you to locations in code where to add your changes / if you have any questions 👍

ps - the current `main` branch already has the changes from `3.0.0` but it might have minor bugs still. The branch is stable-enough that it shouldn't change much before release, but whatever you build would likely benefit from a `git merge main` update once `3.0.0` comes out 😊

[2020-08-18 13:53] 23mwest commented on #504
First timer here, can I try to tackle this?

[2020-08-18 14:23] lighthunt commented on #296
Thanks @whyboris. I have played with it and found multiple folders solution satisfactory for my use-case.
First I wanted to manually merge all my (relevant) vha2 files into one to save time, but found it easier to just add folders and re-scan all the folders again one more time since I wasn't sure about all attributes added to the new format. Anyway, this will do.

I've added the note about showin

[2020-08-18 14:58] whyboris commented on #504
Hey @23mwest 👋  awesome 😁
Please feel free to reach out with any questions about anything. I'm happy to give hints or more-detailed suggestions (whichever you'd like) 🤝

[2020-08-18 15:02] whyboris commented on #296
@lighthunt - it is possible to move over all the "thumbnails" and "filmstrips" images to the new hub before adding the new source folder. As long as the extraction settings (number of screens per video) match up, the app will add the videos to the gallery and skip extracting all the thumbs that have been copied (so it's much faster).

I'm glad it worked for you with a _re-scan_ 👍

Thanks for the c

[2020-08-18 15:06] whyboris commented on #456
Thanks @lighthunt 👍 I've been thinking about the "root" folders when in "show folders" view too.

I'm unsure about my final decision (at least for now, prior to releasing `3.0.0`). At the moment it's easiest to not change anything - the code works 🤷 but I agree that it would make conceptual sense to see the root folders first.

There _is_ a nice aspect to not having root folders -- if you have two

[2020-08-18 15:20] 23mwest commented on #504
Awesome - appreciate it!

[2020-08-18 17:23] orkomlosh commented on #390
Hey, still need help here?

[2020-08-18 20:24] whyboris commented on #390
I'm still unsure. The above screenshot I posted has the two videos showing up black. But also, my video player couldn't open them 🤷  so I think it's not a problem if the app has trouble with it.

I guess this issue is a _catch-all_ for any time videos do not have screenshots extracted.

I'm afraid it happens sometimes still, but out of my entire collection of videos, I think it happened on fewer t

[2020-08-18 20:29] orkomlosh commented on #390
Ok let me know if you want me to take a look. Share the problematic videos. If you think it's a waste of time that's also ok.

[2020-08-19 06:44] lighthunt commented on #296
@whyboris  Thanks for the hint with thumbnails and filmstrips, I was considering it earlier but unsure how names are generated (using paths, what if roots are different etc.), possible duplicate names etc I didn't do, but will try that later.

re-scan didn't work so well, for larger usb disks, few things I experienced, sorry for lack of details (if something is unknown, I will try to explore furth

[2020-08-19 06:59] lighthunt opened #508 "Distiguish mounted/online data"
For ver 3, since one hub my contain combined folders (from different locations, mounted or not), it would be nice to be able to browse/view only online data ...

This may be solved by either (or both):

* toggle "do not show offline videos" (i.e. folders, videos)
* grey-out or mark somehow offline data

[2020-08-19 07:02] lighthunt commented on #456
@whyboris "root" folders view -> I see what do you mean with the combination...
I guess if both approaches sounds reasonable and depends on data, a toggle for the user to choose would be the right thing to do (if the time/priority allows).

I think the motivation for seeing root folders from my POV (apart from being more logical in the way how my data are structured) was to be able to distinguish

[2020-08-19 07:03] lighthunt commented on #508
(btw I would label it as feature request appropriately, but probably can't due to access rights)

[2020-08-19 08:54] lighthunt commented on #296
A JavaScript error occured in the main process
Uncaught Exception:
Errror: ECANCELLED: operation cancelled, scandir ....

I think this is caused when I close the main windows. It doesn't do anything for a long time, then dies with the above error (never ending, after OK, it just shows error with next folder).
Aparently scan was running, but no indication about it.

Sorry, point 3 was misleading, i

[2020-08-19 12:23] 23mwest commented on #504
Hey @whyboris 👋
Wondering if you have anything set up already to persist data between runs of the app (Didn't see anything in the dependencies). Found electron-json-storage and electron-store as [two answers here](https://stackoverflow.com/questions/35660124/how-to-persist-data-in-an-electron-app) Lmk if you like one over the other or if I'm missing something you already have in the app. Thanks!

[2020-08-19 13:34] orkomlosh commented on #504
Hey,
the persist data of the app is saved in _settings.json_,
one of the interface that's being saved there can be found here: _src\app\common\app-state.ts_
settings object is this: _interfaces\settings-object.interface.ts_

and the place that write/read it in: _main.ts_

[2020-08-19 15:47] whyboris commented on #504
Thank you @orkomlosh 🙇
@23mwest -- feel free to ask for clarification / more help. Especially that I'm working with _TypeScript_ which you might not be instantly familiar with (even if you're good with _JavaScript_) 👍

A quickstart:
`main.ts` is stuff that runs in _Node_ and communicates through "IPC" with Angular, here is when the settings return:
https://github.com/whyboris/Video-Hub-App/blob/ma

[2020-08-19 16:15] whyboris commented on #296
Thanks for bug reports 🤝
Some comments in random order:
- `.jpg` file names are based off video file bitstreams (a bit from the front, middle, and back), so moving the video file doesn't change the "hash" - keeping the image file name the same 😁
- (re)scanning multiple folders _should_ work without error - the scanning is a parallel process, and each file is added to a single queue which extracts

[2020-08-19 16:19] whyboris commented on #508
Offline data already has an indicator 🎉 - though it's faint (see top-left of any image - a yellow circle at 50% opacity)

🤔 I wonder if it's useful to have a button that will hide offline data ... it's _very very easy_ from the code perspective (just add a *pipe* in the template that simply filters out any video files that are offline) ✅ it's just a matter of whether it would be useful.

Please le

[2020-08-19 20:00] orkomlosh commented on #468
@whyboris This feature will be only after 3.0.0 is released right?
just wondered about this, import settings are actually the wizard settings when creating new hub right?
so maybe the easy way is to use this screen.
we can use the history list, to add a new "edit" button to each line which will load the settings of the hub on the creation form, and buttons will changed to save and/or save and open

[2020-08-19 20:50] whyboris commented on #468
I'm eager to release `3.0.0` which is why I'd probably push this change until later. This change doesn't interfere with anything, so it's not like I need to get it out before `3.0.0` is finalized 🤔

I think I have a vague picture of what you're describing: letting users edit the settings by clicking a newly-added `Edit` button next to items on the "Recently Opened" list.

_My initial thoughts abou

[2020-08-19 21:02] orkomlosh commented on #468
i'm with you it sound better, this is full description of what need to be done. let's see who will get to it first 😄

[2020-08-20 13:39] 23mwest commented on #504
@orkomlosh @whyboris Thank you both for your replies, it is a bit confusing and it's not even my first time with TypeScript. 😅
I think I'm starting to understand what's going on though. Looks like this code is the setter for the object?
`event.sender.send('settings-returning', previouslySavedSettings, locale);`

[2020-08-20 14:42] whyboris commented on #504
the `event.sender.send('something', data)` is the way for node to communicate to Angular through: [Electron Docs](https://www.electronjs.org/docs/api/ipc-main#sending-messages)

The 'something' is the message name -- as long as Angular is listening for that message, it can run arbitrary code upon receipt of the _data_ that's sent 🤝

This specific line sends over the "previously saved settings" (sa

[2020-08-20 15:32] lighthunt commented on #508
- [ ] 1. Haven't noticed before, but I can see it now, great! Can one configure size/color/opacity somewhere? It's less visible than I'd like (even if hardcoded, good enough for me, I can recompile)
- [ ] 2. Yellow dot is visible only for videos, but not for folders, they should be marked as well (I myself use the folder view often)

Yes, very useful for me, if easy, I'd like that

[2020-08-20 15:40] lighthunt opened #511 "Rename folder"
Would it be possible to add rename option into context menu for folders, just like it is possible to rename files/videos (on disk)? Would help me to organize my data/folders directly in VHA without a need to re-scan over and over again. Thank you.

Btw, are the auto tags generated from folder names too? (use-full for me)

[2020-08-20 16:02] lighthunt commented on #296
Thanks @whyboris  for explanation! I don't know, but something is wrong. Scan process is very slow in latest version compared to v2.2.3 even with a single folder and relatively not many video files. I can't use the new app. I'll make a new issue for that.

[2020-08-20 16:04] lighthunt opened #512 "Scan process superslow, upredictable, no indicator, cannot close app"
Moving from #296, since I think it's a current issues at least on my system.
Scan process is very slow in latest version (0ec441e) compared to v2.2.3 even with a single folder and relatively not many video files.
Some comments on your comments ;-) :

and that's how also search potential duplicates are identified easy by this hash, understand after some hints found when doing translation today, tha

[2020-08-20 16:14] lighthunt opened #513 "Installer installs unnecessary (other platform files)"
perhaps a bug in build process (?)

`npm run electron`, -> generate installer, run installer ->

c:\Program Files\Video Hub App 3\
size: 792 MB (830,843,345 bytes)

(resources folder contain some node modules for all platforms, I believe it should be there, it can all be 4x smaller)

[2020-08-20 16:18] whyboris commented on #508
@lighthunt - for now you can manually change the look of the icon with some CSS:
https://github.com/whyboris/Video-Hub-App/blob/f665af80e16c48732197d4dfb6a6ba3722dbabdf/src/app/components/views/time-and-rez.scss#L32

Adding the dot to folders is doable - I just need to add it 😅  - thanks for the reminder!

I'll take a look about adding a button to filter the not-connected. The super-minor worry I

[2020-08-20 16:24] whyboris commented on #511
This seems like a very useful feature. It's doable, just will take some development time.

I'm happy to accept a PR for it 😁 🤝 🙂

For the UI I imagine just re-using the same rename modal that pops up when you right-click -> rename video, but instead of a filmstrip, it would show the folder icon with the four preview screenshots from videos inside 🤔

I'm unsure if `good first issue` is a good label

[2020-08-20 16:28] whyboris commented on #513
I'm not a fan of the size of the installed app and would love for it to be smaller.

I'm unsure about how to go about decreasing the cruft; any suggestions welcome 👍

If you happen to notice some specific examples where removing just 1 folder we get a good size decrease, perhaps we could target those specifically.

[2020-08-20 16:32] lighthunt commented on #508
TRUE, not so minor ;-) How about adding text in the left filter pane next to folders/files info, like:
19 folder _(10 offline/invisible)_
355 videos _( .... )_

quite easy, consistent (being with filters), and good enough if the (10 offline/invisible) would be in red color or so

[2020-08-20 16:35] whyboris commented on #512
Thank you for the bug report (and for opening a new issue for it)!

I'll need to test the current version more (on Windows and Mac and maybe my wife's computer too) to see if any weird bugs show up. As often is the case, _Works on my machine_ ™️ :trollface:

I've yet to test the extraction speed against the older version. It seemed fast-enough on my PC, but my PC is souped up with an SSD (solid st

[2020-08-20 16:36] whyboris commented on #508
I like the idea! -- will play around with the UI 🤝

[2020-08-20 17:01] lighthunt commented on #513
sorry typo, my bad, it should read: **I believe it should NOT be there**

If you remove node modules for those platforms not in use (I just left win32-x64 in my case), you'll save 500MB on installation
example:
c:\Program Files\Video Hub App 3\resources\app.asar.unpacked\node_modules\@ffmpeg-installer\linux-ia32\
c:\Program Files\Video Hub App 3\resources\app.asar.unpacked\node_modules\@ffprobe-in

[2020-08-20 17:05] lighthunt commented on #513
In fact, I just checked V2 installation did not have those other platform modules in it, it appeared there recently, something changed in the build process

[2020-08-20 17:24] lighthunt commented on #512
tested 2 laptops
old hp zbook gen 2 laptop: win7, ram 32GB, vha on local HDD (diskcryptor), video files on USB drives (veracrypt)
dell xps13, win10, 16GB, vha on local SSD, videos on local SSD or same USB drives

forgot to mention, when I tried to "reuse" filmstrips and thumbnails from v2 and copied them to a new v3 with (with that folder added), it didn't help (tested on zbook).
(disk encryption

[2020-08-20 18:09] whyboris commented on #513
Great catch! I'll definitely see what I can do.

I know we _specifically_ treat the `ffmpeg` and `ffprobe` in a special way:
https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract.ts#L28
[code]

And the dependency _should_ only install the OS-relevant files 🤔 ...

As far as I can tell (going by vague memory), I think the `npm run electron` will simply copy the `node_modules` as part

[2020-08-20 18:17] whyboris commented on #512
32GB 🤤 NICE!
Thank you for testing on multiple devices. My immediate thought is something about USB - parallel access of files maybe?

Are you using an external hard drive connected through USB, or a USB stick with some videos? (I want the app to work beautifully on both, but perhaps this is a clue about something. I tested with an external hard drive through USB and it worked well for me) 🤷

Befo

[2020-08-20 18:20] whyboris commented on #512
In a separate issue -- I've not yet spent time debugging what happens when you close the app mid-way through a scan. As far as I can guess about my code, it _should_ handle it well-enough, but I'll be empirically testing it later.

With the current setup, the app shouldn't freeze any more -- the "front end" of it should be responsive and fine -- it just listens for incoming new video data one by o

[2020-08-20 18:29] orkomlosh commented on #508
Hey don't forget that now we have the new snackBar we can also pop it up for a few seconds when the user toggled the button to inform the user.

[2020-08-20 18:34] whyboris commented on #508
Notification may be a nice touch too. Though I'd like a permanent reminder -- since after they close the app and re-open it, the "hiding offline videos" button will still be toggled 🙈

[2020-08-20 21:49] orkomlosh commented on #445
Added this functionality to main.
See referenced PR.
Closing this issue,
Works like charm!

[2020-08-20 21:50] #445 closed

[2020-08-20 22:30] 23mwest commented on #504
Finally got somewhere with this thanks to you guys, but I'm running into an issue with bindings that seems to stump me every time I use Angular... I get the settings and set it to the WizardOptions in home.component like this:
`if (settingsObject.wizardSettings) {
        this.wizard = settingsObject.wizardSettings; }`
but when the wizard loads it still has the default value of 10. I tried the "ba

[2020-08-20 22:40] CrendKing opened #515 "Watching the video folder consumes lots of CPU"
I noticed that in the current VHA 3, watching folder puts the system into a state that constantly consumes about 25% CPU forever. Even if I disable the watch function, just clicking rescanning will do the same. Below is a screenshot of the threads. This is on a Ryzen 7 3700X CPU. It shouldn't be this much.

It seems that the problem is the `usePolling` flag for the chokidar watcher (https://github

[2020-08-21 00:01] whyboris commented on #445
Thane you for the feature addition #507 🚀

[2020-08-21 05:06] lighthunt commented on #508
The more I think about it, the more I believe the notification or info does not need to be specific to online/offline only.
Anytime I feel I am missing some thumbnails, I just check the filters on the left, scroll up and down to see what do I have to reset.
Perhaps there can just be some generic message somewhere above thumbnails (I don't know snackBar, perhaps), or at the breadcrumbs (directory p

[2020-08-21 06:00] lighthunt commented on #512
Thanks for the note about parallelization. These are usually hardest types of issues :(
(I'd guess parallel scanning of more "roots" makes sense, but the rest, not sure it's worth the trouble, but since already implemented let's see if it can be optimized/fixed).

Past scenario details: I had 4 USB drives (500MB - 3GB) connected to zbook, 2 of them via passive USB hub, each having one root folder,

[2020-08-23 21:05] whyboris opened #519 "Drag video out of VHA into Premiere"
It seems like an interesting puzzle 🤔 - it's not as simple as dragging out a _string_ pointing to the file location 😅

The closest I got in my Google searches is: https://github.com/electron/electron/issues/2923 but the link there is a `404` and no other leads 😢

There's a discussion which makes me think this might be impossible 😓 https://github.com/electron/electron/issues/11691

Opening the issu

[2020-08-24 08:44] lighthunt commented on #508
yes, that's what I meant and you are right and I am wrong of course ;-) sorry, please ignore ...

[2020-08-24 18:45] orkomlosh commented on #456
i think i covered most of it in my 3 recent PR's.
let me know if you think it's not cover yet

[2020-08-26 05:10] lighthunt opened #523 "stay in the same folder when going off folder view"
BFU thinking: When I am in folder mode, in some subfolder, and turn of the folder mode, the view jumps back to the root (meaning it shows all videos). It would be more logical it would videos in the folder I was in (well, I am in from my POV).
If I want to see all files flat in that folder, I have manually write down the name of that folder ... (it's my common use-case).

What I am proposing is VH

[2020-08-26 05:15] lighthunt opened #524 "folder view history"
In folder mode, when going up one level, the view would start from the top, not from the view I came to subfolder. Just like it is common when i.e. browsing web, going back in history, it would scroll the page to where I jumped off.
(I am often browsing folders, so resetting view to top slows me down a lot). WDYT
Please consider as enhancement sometime in the future.

[2020-08-26 11:12] cal2195 opened #525 "VHA 3 breaks relative folder paths feature"
Just trying out the new VHA 3! 🎉

Relative paths don't seem to work anymore from VHA2 #8 - `inputDirs[0]` gets set to an empty string, causing GUI issues, along with "Folder not connected"!

Not sure if this was already on your radar! 😄

[2020-08-26 11:16] cal2195 commented on #519
Time machine magic! https://web.archive.org/web/20190323025729/https://www.thecssninja.com/javascript/gmail-dragout

But this suggests it works both ways, just using the drag API: https://www.electronjs.org/docs/tutorial/native-file-drag-drop

🤔 💭

[2020-08-26 11:17] cal2195 commented on #519
https://www.electronjs.org/docs/api/web-contents#contentsstartdragitem

[2020-08-26 15:49] cal2195 opened #526 "Current chokidar parameters need to be tweaked for performance"
I've been experimenting with the new VHA today, and due to the current chokidar config, it's been crashing my systems kernels with an overload of filesystem operations! 😅

I'm working on a better set of options, but here's some of the issues so far:

- The ignored list has changed, so now it only ignores files (vha-\*, images, etc.) after already adding a inotify watcher on it, and doesn't release

[2020-08-26 15:51] cal2195 commented on #526
Could be related to #512

[2020-08-26 15:56] cal2195 commented on #512
Sounds like it's related to #526

[2020-08-26 15:59] cal2195 commented on #526
After tweaking a few settings, I've gone from consistent system-wide crashing, to a full scan in a few minutes! 🎉

[2020-08-26 16:01] cal2195 commented on #512
In particular, that last error @lighthunt mentioned sounds like a symptom of my same issue! 👍

[2020-08-26 18:36] litelime commented on #523
Just wanted to "bump"this one.
I prefer to view videos in "Details" view, but like navigating using the folder structure.
I need to turn off folder mode in order to see videos in details view.
This would be a great way for me to quickly get a particular folders videos in details view.

[2020-08-27 08:26] cal2195 opened #527 "No way to restart thumbnail extraction in VHA 3"
After scanning for new files, I closed VHA and reopened it. The files are there, but there's no thumbnails as it didn't have a chance to generate them all.

Previously, a rescan or using the "Regenerate thumbnails" option would start the extraction again.

A rescan no longer works for this, and the thumbnails option is gone - am I missing something? 🤔

[2020-08-27 08:40] cal2195 commented on #527
Ah - I found it - hidden under "Edit Folders"! 😅

Not the most intuitive place for it! 😄

[2020-08-27 08:43] cal2195 opened #528 "Manual thumbnail extraction is not async"
When using the manual thumbnail extraction button, the verifying thumbnails part is synchronous, leading to a massive delay while the app is unresponsive! 😓

We should do this with async methods, like the normal rescan version! 👍

[2020-08-27 08:54] cal2195 opened #529 "Thumbnail extraction improvements"
Following on from #527

- The "Add missing thumbnails" button should be placed somewhere more prominent, rather than being hidden behind an unrelated function (Edit folders).

- Running a rescan, either manually hitting "Rescan" or by having continuous watching enabled should also check for missing thumbnails as it finds all the files like the initial scan.

😄

[2020-08-27 08:54] cal2195 commented on #527
Closing in favour of #529 😄

[2020-08-27 08:54] #527 closed

[2020-08-27 18:56] whyboris commented on #525
I never put the vha file next to my videos -- and haven't tested this feature since implementing 3.0.0 changes 😓

Thanks for putting it on the radar 🙇

[2020-08-27 19:01] whyboris commented on #524
LOL 😅  I spent a bunch of time (and added lots of code) getting it to scroll down to the folder you initially clicked when you come back to the 'root' folder, when in _Folder View_ 🤣

I thought it was a very-welcome feature -- thanks for sharing that it's not universally desirable 👍

It's probably easy to throw in yet another settings button for this 🤔

I hope I understood you correctly - you woul

[2020-08-27 19:04] whyboris commented on #523
Thank you for sharing your frustrations.

There is two-click solution to it: click on any video and click on "view folder" -- this should add the folder name to the folder search/filter - and you will see all the videos in the folder and its subfolders when you exit _Folder view_ 🤔

I could implement it so that exiting folder view would always add the folder to folder search, though I'm unsure if

[2020-08-27 19:13] cal2195 commented on #523
Why not add a "Flatten Folder" button to do just that? 😄

[2020-08-28 08:36] lighthunt commented on #524
Reading my original comment, I have to admit it's confusing even to me now ;-), here is what the first sentence should say :

**In folder mode, when going up one level, the view always starts from the top, not from the (scroll) position I came to subfolder.**

YES, I agree with your point (assuming 'root' in your comment, you mean 'parent') -> I don't want to jump to top,  but looks like it doesn'

[2020-08-28 10:35] lighthunt opened #531 "Scan doesn't find all videos (regression)"
Videos in some folders are not indexed (either initial scan when creating the hub or later when watching folder or not watching-no matter how many times I hit the rescan on the folder). (Only one root in the hub).

App v2 however does index it just fine. - So I have this (for example) produced in the vha2 file from v2 (if it helps to report), but missing in vha2 file produced by v3 (main branch):

[2020-08-28 13:36] whyboris commented on #524
I used 'root' because the code I added only works on the 'root' level -- the first view you get when you click folder view (for convenience assume no search filters were added or removed during your interactions with the folder view).

As I remember it, this is the current behavior. Hypothetically:
1) click folder view
2) scroll down to some folder like "movies" (in alphabetical order, let's say i

[2020-08-28 22:36] whyboris commented on #352
I finally found an external program that will flatten folders: https://alternativeto.net/software/suction/
Review and download link here: https://www.ghacks.net/2009/06/09/consolidate-files-with-suction/

I can't find a GitHub for it -- it's not been updated since ~2010 and the official website no longer exists 😢 but the software works beautifully 🎉

[2020-08-29 17:30] whyboris commented on #519
😂 😭 😍  Thank you @cal2195 🙇

Thanks to pointing me in the right direction -- your last two links were exactly what I needed 😁

Ref: https://www.electronjs.org/docs/tutorial/native-file-drag-drop#native-file-drag--drop
Ref: https://github.com/electron/electron/pull/6333#issue-76082139 🎉

PR coming shortly 😎

[2020-08-29 18:30] whyboris commented on #513
@lighthunt -- I'm unsure what happened on your end, but on mine everything seems fine 🤔

Consider deleting `node_modules` and running `npm install` again 🤔

My current `node_modules` is about 800MB, when I build the installer, it comes out to around 100MB, and the installed directory is under 300MB 🤷

I'll keep this issue in mind - to check file sizes before releasing `3.0.0` but I'm closing this

[2020-08-29 18:30] #513 closed

[2020-08-29 19:44] whyboris commented on #519
Got it to work - only a few lines of code for functionality, and some app-related code to finish it off 😎 #532

[2020-08-29 19:46] #519 closed

[2020-08-29 22:55] ridvanaltun opened #533 "Maximum call stack size exceeded"
Hello,

I am trying to create a hub with 2.500 videos. When i click create button, below error occours after every 5 minutes.

I am using VHA version 3.0.0.

![Screenshot_2](https://user-images.githubusercontent.com/10441216/91647390-f5d08700-ea62-11ea-9aaa-49fe9f5a3864.png)

[2020-08-29 23:48] whyboris commented on #533
Thank you for the report! I'll see if I can replicate and figure out what's happening.

Best guess is something is going wrong with `chokidar` -- but it would be weird for it to choke 😉 on such a small collection 😅

If you have other clues do share 🤝

[2020-08-30 14:20] lighthunt commented on #513
This is so weird ;-) Those 10 day ago, I've been building both V2 and main in the same git folder with 'npm clean-install' in between checkouts ... and then run the build few times (checkout main) to make sure I do it right.
Few days ago when building and testing translations the size was again under 300M installed, so I have just assumed you or someone has fixed the issue already... weird.

(I do

[2020-08-30 14:27] whyboris commented on #513
Great idea on an automatic check! I'm unsure how to set something like that up without doing some research.

Share your thoughts if you have something in mind already.

My guess is it's not too-hard. Just checking the `/release` folder for size is enough. Though without having _node_ run a specially-written script I don't yet know how to do it 🤔

While this won't give a warning, maybe running `du

[2020-08-30 15:30] whyboris commented on #513
Thanks @lighthunt -- I implemented a first draft of this. If you happen to know a better way, please let me know 🤝

#535

[2020-09-04 12:56] shubham13695 commented on #511
Hello @whyboris can i try this ?

[2020-09-04 13:08] whyboris commented on #511
Thanks @shubham13695 🤝  -- please feel free to reach out with questions of any kind 👍

[2020-09-12 19:51] whyboris commented on #504
@23mwest let me know if you still would like a hand with this 👍

[2020-09-25 22:39] whyboris commented on #495
I took me about 2 weeks to finally scrape together the time needed to rewrite the public website into _Gatsby_ 😅

Now I have a multi-lingual website with a nicer landing page: https://videohubapp.com/

GitHub: https://github.com/whyboris/video-hub-app-gatsby-website

Now I can get back to releasing version `3.0.0` 😅

[2020-09-26 00:32] whyboris commented on #526
@cal2195 -- could you share the settings that prevented the system-wide crashing 😅 🙇 ?

[2020-09-26 00:56] whyboris commented on #528
Hey @cal2195 could you clarify a bit. What is the "manual thumbnail extraction button"? The `Rescan` right next to the folder?

![image](https://user-images.githubusercontent.com/17264277/94326334-47403900-ff71-11ea-8f10-15fa93c904fc.png)

Or is it the `Add missing thumbnails` here?

![image](https://user-images.githubusercontent.com/17264277/94326360-66d76180-ff71-11ea-8727-b13489ee0853.png)

Or

[2020-09-29 01:29] slaw1229 opened #538 "Delete to Recycle Bin (Windows 10) does not work in SMB mounted folders"
I am running Windows 10 with VHA using a Samba mounted folder as its source. When trying to delete a file (to Recycle Bin), nothing happened. This occurred on VHA 2.2.3 and on a build of main I just did. Debugtron showed:

[code]
Long story short I think it's due to trash and not VHA. I tried passing the filepath to windows-trash.exe being used (from https://github.com/sindresorhus/trash) and noth

[2020-09-29 14:21] whyboris opened #539 "Fixing blank images for all videos bug"
It looks like if the folder path to the `.vha2` file has parentheses in it (or other special characters) then the thumbnails or filmstrips will not be displayed 😭

From my memory, I'm pretty sure that's because to display images in the app I _URL encode_ them (which turns spaces in `%20` etc). Spaces are handled correctly, but perhaps parentheses are not.

I will investigate. I am creating this ti

[2020-09-29 20:14] whyboris commented on #538
Thank you for the report 🤝
Does this give a user-visible error, crashes the app, or just dies silently without messing up the app?
Please let me know 🙂

There is in version 3.0.0 going to be "Dangerously delete" option that will use `fs.unlink`

[2020-09-29 20:18] slaw1229 commented on #538
No errors if you are not debugging. I did try "Dangerous Delete" through the interface which works BUT you have to do it twice. The first time nothing occurs. I'll try using the debugger later to see if it catches anything from the first delete attempt.

Again this is with Samba mounted filesystems.

[2020-09-29 20:22] whyboris commented on #538
Odd that you have to do it twice. I wonder if the problem with updating the view -- that is the first `delete` action deletes the file, but the gallery doesn't update and still shows the deleted file?

Or is it that the `delete` literally doesn't delete the file from the file system the first time? 😅

Thank you for investigating 🤝

[2020-09-30 23:07] whyboris commented on #539
Fixed with #537 with https://github.com/whyboris/Video-Hub-App/pull/537/commits/5e73827f0cd00f1a6f7f46fb6edebd270cd4a798 🎉 😎

[2020-09-30 23:09] whyboris commented on #390
I think I have fixed the problem 😭

See: #539 😎 - no images would display if there were parentheses in the file path leading to `.vha2` file 😓

@krisu5 -- sorry took so long to figure it out -- I suspect the problem was the same as the linked ticket 😅

[2020-09-30 23:11] whyboris commented on #390
I intend co close this issue when I merge #537 🚀

If you think there is some unfinished business feel free to comment below, or perhaps better yet start a new issue (and just link to a comment that you think is relevant) 🤝

[2020-09-30 23:15] whyboris commented on #463
Thank you @HerrRobo for the work -- I suspect we're 99% of the way there with your code, so I created a PR with it -- I hope you do not mind 🙇 #540

[2020-09-30 23:21] #539 closed

[2020-09-30 23:21] #390 closed

[2020-09-30 23:26] #463 closed

[2020-10-01 09:58] cal2195 commented on #528
I believe it's the `Add missing thumbnails` button I was referring to, which calls this method:
https://github.com/whyboris/Video-Hub-App/blob/adde781171bda66b8bbc6decc8a05c14f0d7ee82/node/main-extract-async.ts#L321
Ideally, anything using the *Sync fs methods should be changed to be async! 😄

[2020-10-01 10:06] cal2195 commented on #526
Sorry, this slipped past my inbox! 😄

Looking at my repo, the main params I changed in `watcherConfig` were:

- `alwaysStat: False` - not 100% sure on this one, but I think we re-stat ourselves if it's not present anyway. I think this was causing too many stats in a short space of time.
- `awaitWriteFinish: False` - not worth the potential benefit, causes way too much of a performance hit.
- `igno

[2020-10-01 12:37] whyboris commented on #528
Thanks! I'll investigate and update 🤝

[2020-10-07 16:27] sammyviv opened #546 "Hubs' opening mechanism not working correctly in v3"
First of all, fantastic app!! Been loving it so far, will definitely support it via promotions and buying a few copies haha.

v3 seems quite ready for release, haven't encountered any bugs, except this weird behavior on Mac OS where double clicking to open a hub from Finder (.vha2) does not seem to work, ie. the app is run with the previously opened hub active, or if no hub was previously opened t

[2020-10-08 00:47] whyboris opened #547 "Recently played list"
There is a bottom tray that can show _tags_ and _similar videos_.

I want to make the _word cloud_ also appear in a similar tray.

I will add tabs above the tray that will make it easy to switch between the three possible pieces of content.

*Finally*: make a "recently played" tray that will show just like _similar videos_ but just a queue of recently-played videos!

edit: _forgot to mention - thi

[2020-10-08 03:48] whyboris commented on #546
Thank you for the bug report!

When I just released version 1 I had to put in a very crude hack to get Mac to behave better (specifically the double-click / handle while app is open). I think I still haven't updated that code. Unsure why it would work in v2 but not in v3 -- maybe something _has_ changed 😅 🤔

I'll see if I can fix it now that I have a bit more experience with coding. Any help is al

[2020-10-09 04:18] idk commented on #547
Suggested this elsewhere so just jumping in on this thread. 👍

[2020-10-10 03:19] Orthodox-531 opened #550 "Adaptive filmstrip interval for extremely long clips"
Since the default thumbnail size is 288*512 pixels, an image snapshot interval of 1 minute for a clip of 128 minutes will be 65536 pixels wide, throwing an error in FFMPEG because the maximum width of a JPEG file is 65500 pixels.

One option I can think of to work around this issue is to add some adaptive math to the interval calculation to adjust the interval to a higher value where necessary to

[2020-10-10 16:30] whyboris commented on #550
Thank you for raising this issue. I'm aware of the jpg limitation and it's unfortunate I don't have a solution for it yet.

`png` is much more space-consuming, so I'd prefer not to use them.

I think your solution is the best we have at least for now: since at time of generating screenshots we know all the numbers involved, we could arbitrarily reduce the number of screens that should be extracted

[2020-10-10 16:36] sammyviv commented on #546
Glad to help in any which way.

Code behaves in mysterious ways sometimes 😂
I did try looking for the portion of code in question, but I just can't find it, could you please point me in the right direction so I give it a try to fix it.

[2020-10-10 16:45] AlishaPink opened #551 "Peculiar issue with detecting/parsing certain files to add in a Hub"
I'm not sure if it's only my systems or a global issue (although I did test multiple systems and various files) but if the extension of any video file is capitalized, then Video Hub failed to parse/detect the file to add, for example "00.mp4" will work, but "00.MP4" will not be added to the Hub.

Also a suggestion along those lines, when adding alot of files, it gets really tedious to weed out the

[2020-10-10 17:54] whyboris commented on #546
As a brief overview:

The screenshot generation happens via `main-extract.ts` file with this method generating the arguments for `ffmpeg`:
https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract.ts#L83
It gets called from this line:
https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract.ts#L308
So we need to make sure the `numOfScreens` in the `imageElement` doesn't ma

[2020-10-10 17:56] whyboris commented on #550
As a brief overview:

The screenshot generation happens via `main-extract.ts` file with this method generating the arguments for `ffmpeg`:
https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract.ts#L83
It gets called from this line:
https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract.ts#L308
So we need to make sure the `numOfScreens` in the `imageElement` doesn't ma

[2020-10-10 17:59] whyboris commented on #551
Great catch! Thank you!!!

The supported filenames `acceptableFiles` https://github.com/whyboris/Video-Hub-App/blob/main/node/main-filenames.ts
used to be compared extensions `.toLowerCase` https://github.com/whyboris/Video-Hub-App/blob/main/node/archive.ts#L157
But is no longer: https://github.com/whyboris/Video-Hub-App/blob/main/node/main-extract-async.ts#L185

This is likely a 1-line fix 😁
Plea

[2020-10-10 18:06] whyboris commented on #546
As I mentioned it's rather hacky, so it might be all over the place and may be best fixed with re-architecting how the app handles opening files 😅

Since I only want one instance of the app, there's this line:
https://github.com/whyboris/Video-Hub-App/blob/main/main.ts#L67
And the next line quits the app if it's a 2nd instance 😅
If it's a second instance (see the code a few lines below), it tries

[2020-10-10 19:13] CrendKing opened #552 "Video Hub App 3: Duplicate entries in VHA"
I have "watch folder" enabled. Sometimes when it found a new video, it creates multiple duplicate entries in the VHA. These entries have exactly same properties, including hash. The only way I find to eliminate them is manually edit the file, which is painful.

I wonder is the hash unique enough to be trusted a key to each entry, so that instead of having the `images` as an array, make it an objec

[2020-10-10 22:41] whyboris commented on #552
I've not tested the "watch folder" feature still (other than once to see that it detects changes) 😓

I'm unsure at the moment whether it's because the `chokidar` library I'm using emits more than once when it finds changes or for some other reason.

I have implemented an `alreadyInAngular` variable to keep track of what has been added (see `main-extract-async.ts` file). Perhaps it's a matter of up

[2020-10-11 00:08] whyboris commented on #526
Thank you @cal2195 again for excellent advice 🙇

I've addressed it with #541 -- if you have a moment, please glance to see if it looks ok 🤝 😁

[2020-10-11 00:11] whyboris commented on #512
My PR #541 may fix this, as I implemented the sage advice from @cal2195 in #526  🙇

[2020-10-11 19:25] #547 closed

[2020-10-11 19:27] whyboris commented on #547
Thank you @idk -- this was a great feature 😁

note: the "recently played" will only persist per hub, per session. So switching hubs or closing the app resets the "recently played" to empty 👌

[2020-10-11 19:33] whyboris commented on #442
I recently unified the `word cloud`, `similar videos`, and `tags` into a single tray on the bottom (and added a `recently played` as well) with #553

This addresses `Proposition 1` ✅ 😁 😎

Now that there's a unified system for handling stuff in the tray, it may be somewhat straight-forward to add the auto-tags into the tray as well. Though visually it might be a bit cluttered, and I'll need to thin

[2020-10-11 19:37] #526 closed

[2020-10-11 19:37] #528 closed

[2020-10-11 19:40] whyboris commented on #512
Hey @lighthunt -- if you have some time, could you try the current `main` branch again with your videos and the same settings that caused problems before and comment?

I strongly suspect at least some of the issues have been resolved with the merge of #526 🤞

If you think all the problems are solved, feel free to close the issue 😁 or share what still is not 💯 🤝

[2020-10-12 02:15] whyboris commented on #533
Hey @ridvanaltun -- I've fixed up some things with the extraction process (fewer `stat` calls for example) …

If you have the time, could you please re-try this procedure again with the same settings that caused the problem before -- to see if the problem persists?

I'm hoping to release `3.0.0` with as few bugs as possible. At the moment I'm unable to replicate the problem 😅

[2020-10-12 02:21] whyboris commented on #551
🤷‍♂️ it was a 1-line fix so I just did it 😎 #554 with https://github.com/whyboris/Video-Hub-App/pull/554/commits/cf3db5d892ac0a5616685a70aa26cdcfd07e0010

[2020-10-12 02:25] whyboris commented on #169
I still think that _named saved searches_ is a large undertaking (from the UI and coding perspective) but it might be easier now that we have a *bottom tray* which can display some things horizontally.

I'm unsure if visually it would be easy to use and understand, but just food for thought 🤔

I'm keeping this issue open for a little bit longer, but if there's not a sustained interest in it I may

[2020-10-12 02:27] whyboris commented on #315
Some food for thought: we now have a *bottom tray* which can display things horizontally. I'm unsure if it's a good fit for this feature, but wanted to announce 📣

It's been almost a year since this discussion started (and ended). I'm thinking I might close the issue in the near future 🤔 (though worry not - it's easy to re-open too) 👍

[2020-10-12 02:29] whyboris commented on #436
Hey @martincaron -- let me know if you'd like to finish your PR or if you'd like me to take over where you left it and finish it off myself 👌 🤝 👍

[2020-10-12 02:34] whyboris commented on #474
As I'm trying to finalize `3.0.0` I'm trying to close out issues.

This one feels like a bunch of extra work (every bit of code is a liability for bugs) and would require an upgrade script to go from version 2 to 3.

I would prefer for users of VHA, when upgrading, to just open their old file and have everything run smoothly. Additionally, it's a nice bonus that they could also go back to version

[2020-10-12 02:34] #474 closed

[2020-10-12 02:48] whyboris commented on #489
I think the biggest issue is `3` - creating playlist _bug_

It is fixed by #554 with https://github.com/whyboris/Video-Hub-App/pull/554/commits/50967a5295c891ff3c8882036d98e93917fbbc93
Was a 1-liner 😎

This issue will be closed when I merge that PR. I think the other 3 issues are not a big deal (though please let me know if I underestimate their importance).

Since a lot of code has changed, perha

[2020-10-12 02:54] whyboris commented on #506
Thank you for the suggestion and the discussion.

I think this is too bespoke and is best handled by individual developers on their end. There's already functionality in the app that can take an arbitrary `.jpg` or `.png` and set it as the main thumbnail for a video. It wouldn't be too hard to add a few lines of code that check for presence of a particular image format and use that functionality.